Agente_Vigilante_Manual.json
{
    "name": "Agente Vigilante - MODO MANUAL (Una Vendedora)",
    "nodes": [
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -10832,
                -528
            ],
            "id": "1b46c012-0346-4a0b-b553-f5bb51811007",
            "name": "Disparador Manual"
        },
        {
            "parameters": {
                "operation": "list",
                "useQueryString": true,
                "queryString": "={{ \"'\" + $json.idCarpetaVendedora + \"' in parents and trashed = false and mimeType = 'application/vnd.google-apps.document'\" }}",
                "limit": 100,
                "options": {
                    "fields": []
                }
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 2,
            "position": [
                -10368,
                -528
            ],
            "id": "1b120fa3-e36b-46dc-8954-d78af50180da",
            "name": "Listar Archivos Vendedora",
            "alwaysOutputData": false,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "idCarpetaVendedora",
                            "value": "1cbRkrTruj6i8rimSkpP7CTi-dj0em_GF"
                        },
                        {
                            "name": "nombreVendedorManual",
                            "value": "Consuelo Mardones"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                -10608,
                -528
            ],
            "id": "manual_config",
            "name": "CONFIGURAR VENDEDORA AQUÍ"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst manualVendor = $('CONFIGURAR VENDEDORA AQUÍ').first().json.nombreVendedorManual;\n\n// Filter out empty items (ghosts), videos, and shortcuts\nreturn items.filter(item => {\n    // 1. ELIMINAR FANTASMAS\n    if (!item.json.id || !item.json.name) return false;\n    \n    // 2. Filtros de tipo normales\n    const mime = item.json.mimeType || '';\n    if (mime.includes('video') || mime.includes('audio')) return false;\n    if (item.json.name && item.json.name.endsWith('Recording')) return false;\n    \n    // ASIGNAR VENDEDOR MANUALMENTE\n    item.json.nombreVendedor = manualVendor;\n\n    return true;\n});"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -10048,
                -304
            ],
            "id": "38e773d5-f3b9-4600-8717-2486eabb06fd",
            "name": "Filtrar y Estampar Vendedor"
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "fechaReunion",
                            "value": "={{ $json.name.match(/(\\d{4}[\\/\\-]\\d{2}[\\/\\-]\\d{2})/) ? $json.name.match(/(\\d{4}[\\/\\-]\\d{2}[\\/\\-]\\d{2})/)[1].replace(/\\//g, '-') : ($json.createdTime ? $json.createdTime.split('T')[0] : $now.toFormat('yyyy-MM-dd')) }}"
                        },
                        {
                            "name": "summary",
                            "value": "={{ $json.name.replace(/\\d{4}[\\/\\-]\\d{2}[\\/\\-]\\d{2}/, '').trim() || 'Reunion' }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                -9840,
                -304
            ],
            "id": "cb291690-2f27-4a2c-a74c-4e72e58332dd",
            "name": "Estampar Metadatos"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -9584,
                -304
            ],
            "id": "d508f985-2f2a-466a-b827-3b5395e0ee17",
            "name": "Loop Controller"
        },
        {
            "parameters": {
                "operation": "download",
                "fileId": {
                    "__rl": true,
                    "value": "={{ $json.id }}",
                    "mode": "id"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -9376,
                -304
            ],
            "id": "1c9d8389-b42a-4f81-8933-6b7838eabeb4",
            "name": "Descargar Archivo",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "setAllData": false,
                "options": {}
            },
            "type": "n8n-nodes-base.moveBinaryData",
            "typeVersion": 1.1,
            "position": [
                -9168,
                -304
            ],
            "id": "4481df67-bbde-4c18-8463-7f0c296f0404",
            "name": "Texto a JSON"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst item = items[0];\nconst text = item.json.text || \"\";\n\nitem.json.transcriptionTextFull = text; \n\nreturn [item];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -8976,
                -304
            ],
            "id": "456147f2-0006-4983-ab51-5c69fe1b946a",
            "name": "Preparar Texto"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst newItem = items[0].json;\n\n// Calculate Week Folder\nlet dateStr = newItem.fechaReunion || new Date().toISOString().split('T')[0];\nif (dateStr.includes('/')) { dateStr = dateStr.replace(/\\//g, '-'); }\nconst date = new Date(dateStr);\n\nfunction getWeekNumber(d) {\n    const dateObj = new Date(Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()));\n    dateObj.setUTCDate(dateObj.getUTCDate() + 4 - (dateObj.getUTCDay() || 7));\n    const yearStart = new Date(Date.UTC(dateObj.getUTCFullYear(), 0, 1));\n    return Math.ceil((((dateObj - yearStart) / 86400000) + 1) / 7);\n}\n\nconst weekNumber = getWeekNumber(date);\nconst year = date.getFullYear();\nconst weekFolderName = `Semana ${String(weekNumber).padStart(2, '0')} - ${year}`;\n\nnewItem['weekFolderName'] = weekFolderName;\n\nreturn [{json: newItem}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -8768,
                -304
            ],
            "id": "03589279-4b82-43e5-b933-c512a000cfd9",
            "name": "Calcular Semana1"
        },
        {
            "parameters": {
                "resource": "fileFolder",
                "queryString": "={{ \"name = '\" + $json.weekFolderName + \"' and trashed = false\" }}",
                "returnAll": true,
                "filter": {
                    "folderId": {
                        "__rl": true,
                        "value": "1aCOa0Pe4DYfZxeQR8MYMzaJS3CWoMwal",
                        "mode": "list"
                    },
                    "whatToSearch": "folders"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -8576,
                -304
            ],
            "id": "da3c9b26-dd62-484c-86de-71c391a5d4ce",
            "name": "Buscar Carpeta Semana1",
            "alwaysOutputData": true,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "weekcheck",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -8368,
                -304
            ],
            "id": "11469a55-1357-4f33-b564-5ef8d82ff743",
            "name": "If Semana Existe1"
        },
        {
            "parameters": {
                "resource": "folder",
                "name": "={{ $('Calcular Semana1').item.json.weekFolderName }}",
                "driveId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "My Drive"
                },
                "folderId": {
                    "__rl": true,
                    "value": "1aCOa0Pe4DYfZxeQR8MYMzaJS3CWoMwal",
                    "mode": "list"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -8176,
                -128
            ],
            "id": "7bccb6f9-e400-4e6c-a6ca-cb723e095430",
            "name": "Crear Carpeta Semana",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return $input.all();"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -7968,
                -320
            ],
            "id": "57d959ac-bb6a-4eee-8e46-4f9c410e29f6",
            "name": "Merge Semana1"
        },
        {
            "parameters": {
                "resource": "fileFolder",
                "queryString": "={{ \"name = '\" + $('Calcular Semana1').item.json.nombreVendedor + \"' and trashed = false\" }}",
                "returnAll": true,
                "filter": {
                    "folderId": {
                        "__rl": true,
                        "value": "={{ $json.id }}",
                        "mode": "id"
                    },
                    "whatToSearch": "folders"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -7776,
                -320
            ],
            "id": "0a5d8085-d6da-4d05-bc6f-b6dbaa810da1",
            "name": "Buscar Carpeta Vendedor1",
            "alwaysOutputData": true,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "vendorcheck",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -7568,
                -320
            ],
            "id": "f86a5e29-933f-44f7-8ee5-23c5c461b57a",
            "name": "If Vendedor Existe1"
        },
        {
            "parameters": {
                "resource": "folder",
                "name": "={{ $('Calcular Semana1').item.json.nombreVendedor }}",
                "driveId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "My Drive"
                },
                "folderId": {
                    "__rl": true,
                    "value": "={{ $('Merge Semana1').item.json.id }}",
                    "mode": "id"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -7376,
                -128
            ],
            "id": "966dab11-d6ad-495f-977c-f400be1ab7b0",
            "name": "Crear Carpeta Vendedor",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return $input.all();"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -7168,
                -336
            ],
            "id": "2244ed8c-ab3b-4451-8ec7-0f73d527ec7b",
            "name": "Merge Vendedor1"
        },
        {
            "parameters": {
                "resource": "fileFolder",
                "queryString": "={{ (() => { let d = $('Calcular Semana1').item.json.fechaReunion; if(d && d.includes('/')) d = d.replace(/\\//g, '-'); const n = d + ' - ' + $('Calcular Semana1').item.json.summary; return \"name = '\" + n + \"' and trashed = false\"; })() }}",
                "returnAll": true,
                "filter": {
                    "folderId": {
                        "__rl": true,
                        "value": "={{ $json.id }}",
                        "mode": "id"
                    },
                    "whatToSearch": "folders"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -6976,
                -336
            ],
            "id": "31cce0cc-e0a8-44f5-9da9-bd02ade2c4e1",
            "name": "Buscar Carpeta Reunion1",
            "alwaysOutputData": true,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "meetingcheck",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -6768,
                -336
            ],
            "id": "55b91aa1-0c5f-4ac8-9fb3-5d3eab36268b",
            "name": "If Reunion Existe1"
        },
        {
            "parameters": {
                "operation": "list",
                "useQueryString": true,
                "queryString": "={{ \"'\" + $json.id + \"' in parents and name contains 'ANALISIS_CUALITATIVO' and trashed = false\" }}",
                "options": {
                    "fields": "*"
                }
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 2,
            "position": [
                -6800,
                -1376
            ],
            "id": "876411cc-e767-4ed2-82fb-5869f021ab79",
            "name": "Verificar Reportes",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "reportcheck",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -3648,
                -1376
            ],
            "id": "884936d5-ec0e-40a0-bce3-fe94ccfae5d1",
            "name": "If Reporte Ya Existe"
        },
        {
            "parameters": {
                "jsCode": "return $('Buscar Carpeta Reunion1').all();"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3408,
                -1360
            ],
            "id": "62236044-266e-4950-9493-5499624756c7",
            "name": "Restore Context"
        },
        {
            "parameters": {
                "resource": "folder",
                "name": "={{ (() => { let d = $('Calcular Semana1').item.json.fechaReunion; if(d && d.includes('/')) d = d.replace(/\\//g, '-'); return d + ' - ' + $('Calcular Semana1').item.json.summary; })() }}",
                "driveId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "My Drive"
                },
                "folderId": {
                    "__rl": true,
                    "value": "={{ $('Merge Vendedor1').item.json.id }}",
                    "mode": "id"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -6560,
                -320
            ],
            "id": "c8270fb8-afea-4636-943f-eb2d957fecd8",
            "name": "Crear Carpeta Reunion",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return $input.all();"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -6368,
                -320
            ],
            "id": "62d1a05d-b770-412e-9c58-0d4d0819accf",
            "name": "Merge Reunion1"
        },
        {
            "parameters": {
                "operation": "copy",
                "fileId": {
                    "__rl": true,
                    "value": "={{ $('Calcular Semana1').item.json.id }}",
                    "mode": "id"
                },
                "name": "={{ (() => { let d = $('Calcular Semana1').item.json.fechaReunion; if(d && d.includes('/')) d = d.replace(/\\//g, '-'); return d + ' - ' + $('Calcular Semana1').item.json.summary + '.txt'; })() }}",
                "sameFolder": false,
                "driveId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "My Drive"
                },
                "folderId": {
                    "__rl": true,
                    "value": "={{ $json.id }}",
                    "mode": "id"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -6176,
                -320
            ],
            "id": "e5c40430-45c4-44c5-bbe3-7f0ccc36f82c",
            "name": "Copiar Archivo1",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "operation": "download",
                "fileId": {
                    "__rl": true,
                    "value": "={{ $json.id }}",
                    "mode": "id"
                },
                "options": {
                    "googleFileConversion": {
                        "conversion": {
                            "docsToFormat": "text/plain"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -5984,
                -192
            ],
            "id": "435a71b4-54e4-41ec-afa4-ec4248166584",
            "name": "Download file",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "operation": "text",
                "destinationKey": "text",
                "options": {}
            },
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1,
            "position": [
                -5808,
                -192
            ],
            "id": "626728db-0169-4798-bdc0-739c7734e5c3",
            "name": "Extract from File"
        },
        {
            "parameters": {
                "resource": "fileFolder",
                "returnAll": true,
                "filter": {
                    "folderId": {
                        "__rl": true,
                        "value": "1-9m7SpVY5r_HC9WaSqV5KKBwNPVY3ymK",
                        "mode": "id"
                    }
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -5600,
                -192
            ],
            "id": "76de2bf2-31b2-474f-82ec-899cf4894604",
            "name": "Search files and folders1",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "operation": "download",
                "fileId": {
                    "__rl": true,
                    "value": "={{ $json.id }}",
                    "mode": "id"
                },
                "options": {
                    "googleFileConversion": {
                        "conversion": {
                            "docsToFormat": "text/plain"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -5424,
                -192
            ],
            "id": "5b34b458-bba8-482e-b28b-c3a8d4e0f39f",
            "name": "Download file1",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "operation": "text",
                "destinationKey": "text",
                "options": {}
            },
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1,
            "position": [
                -5264,
                -192
            ],
            "id": "10f7a41d-bc15-48c3-a303-f36bc4db7d80",
            "name": "Extract from File1"
        },
        {
            "parameters": {
                "jsCode": "// --- 1. RECUPERAR DATOS (Texto y Guías) ---\nlet transcriptionText = \"ERROR TRANSCRIPCION\";\ntry {\n    transcriptionText = $('Extract from File').first().json.text || \"ERROR LEER TRANSCRIPCION\";\n} catch(e) {}\n\n// TRUNCADO DE SEGURIDAD PARA OPENAI (Máx 200,000 chars)\nif (transcriptionText.length > 200000) {\n    transcriptionText = transcriptionText.substring(0, 200000) + \"\\n... [TRANSCRIPCION CORTADA POR SER DEMASIADO LARGA]\";\n}\n\nconst kbItems = $('Extract from File1').all();\nlet kbFullText = \"\";\nfor (const item of kbItems) {\n    if (item.json.text) {\n        const fileName = (item.binary && item.binary.data && item.binary.data.fileName) ? item.binary.data.fileName : \"Guía\";\n        kbFullText += `\\n=== DOCUMENTO: ${fileName} ===\\n${item.json.text}\\n`;\n    }\n}\n\n// TRUNCADO DE SEGURIDAD PARA LAS GUÍAS (Máx 100,000 chars)\nif (kbFullText.length > 100000) {\n    kbFullText = kbFullText.substring(0, 100000) + \"\\n... [GUÍAS CORTADAS POR SER DEMASIADO LARGAS]\";\n}\n\nif (kbFullText.length < 50) kbFullText = \"ERROR CRÍTICO: NO SE PUDO LEER LA BASE DE CONOCIMIENTO.\";\n\n// --- 2. RECUPERAR METADATOS (CORREGIDO) ---\n\n// A. ID DE LA CARPETA (Corrección Clave):\n// En lugar de mirar el archivo copiado, miramos directamente el nodo 'Merge Reunion1' \n// que es la carpeta de la reunión donde estamos trabajando.\nconst folderInfo = $('Merge Reunion1').first().json;\nconst folderId = folderInfo.id || \"ERROR_FOLDER_ID\"; \n\n// B. ID ARCHIVO ORIGINAL (Para borrado):\nconst originalFileId = $('Descargar Archivo').first().json.id;\n\n// C. DATOS DEL ARCHIVO COPIADO (Para el nombre):\nconst copiedFile = $('Copiar Archivo1').first().json;\nconst baseName = copiedFile.name ? copiedFile.name.replace(/\\.(txt|docx|doc)$/i, '') : \"Reporte_Sin_Nombre\";\nconst reportBaseName = \"ANALISIS_CUALITATIVO - \" + baseName + \".txt\";\n\n// D. VENDEDOR:\nconst vendedor = $('Identificar Vendedora').first().json.nombreVendedor || \"Vendedor\";\n\n// --- 3. SALIDA ---\nreturn [{\n    json: {\n        texto_transcripcion: transcriptionText,\n        contexto_ventas: kbFullText,\n        nombre_vendedor: vendedor,\n        nombre_archivo_reporte: reportBaseName,\n        folderId: folderId,  // Ahora esto llevará el ID correcto de la carpeta\n        originalFileId: originalFileId\n    }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -5056,
                -192
            ],
            "id": "dd98ed68-87d7-4df2-97b5-e6cb06c1aa5d",
            "name": "Code in JavaScript3"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Eres un experto en ventas consultivas B2B, con especialización en programas de alto valor para profesionales de arquitectura, diseño y construcción. Tu rol es analizar, proponer, desarrollar y optimizar los sistemas, procesos, guiones, documentos y plantillas clave del proceso de ventas de Líderes para la Arquitectura, una empresa de formación y consultoría estratégica para arquitectos y diseñadores que desean estabilizar, sistematizar, profesionalizar y escalar sus estudios y negocios.\n\n**Tu trabajo se basa en estas directrices esenciales (Guías de venta):**\n{{ $json.contexto_ventas }}\n\n**TRANSCRIPCIÓN A ANALIZAR:**\n{{ $json.texto_transcripcion }}\n\n**INSTRUCCIONES:**\nAnaliza la transcripción comparándola con las guías.\n\nREGLA IMPORTANTE: La puntuación de cada sección NUNCA puede ser mayor que su máximo (ejemplo: no puedes dar 15/10, lo máximo sería 10/10).\n\n**INSTRUCCIÓN CLAVE: El feedback más valioso son las 'ÁREAS DE MEJORA'. Enfoca tu análisis en detectar los 3 puntos más críticos y accionables que el vendedor debe mejorar.**\n\nGenera un informe siguiendo EXACTAMENTE esta estructura:\n\n# 📊 ANÁLISIS DE VENTA\n\n**Vendedor:** {{ $json.nombre_vendedor }} (USAR ESTE NOMBRE EXACTO, NO INTENTAR DETECTARLO EN EL TEXTO)\n**Fecha:** {{ $now.toFormat('yyyy-MM-dd') }}\n\n---\n\n## 🎯 PUNTUACIÓN GLOBAL: [X]%\n\n---\n\n## 📋 EVALUACIÓN DETALLADA\n\n### 1. Estructura de la Reunión (20%)\n***Puntuación: [X]/20\n[Analiza si siguió las 8 etapas del guión: Conexión, Análisis, Desafíos, Futuro, Plan de trabajo, Transición, Oferta, Cierre]\n\n### 2. Filosofía de Venta (20%)\n***Puntuación: [X]/20\n[Evalúa empatía, escucha activa, guiar sin forzar]\n\n### 3. Técnicas de Descubrimiento (20%)\n***Puntuación: [X]/20\n[Calidad de preguntas sobre dolores, diferenciación, precios, urgencia]\n\n### 4. Manejo de Objeciones (15%)\n***Puntuación: [X]/15\n[Si aparecieron, cómo las manejó según la guía]\n\n### 5. Presentación del Programa (15%)\n***Puntuación: [X]/15\n[Adaptación del discurso, explicación PRO1, diferencial]\n\n### 6. Cierre y Próximos Pasos (10%)\n***Puntuación: [X]/10\n[Intentó cerrar en llamada, claridad en pasos]\n\n---\n\n## ✅ FORTALEZAS PRINCIPALES\n\n- [3-5 puntos específicos]\n\n---\n\n## 🚀 ÁREAS DE MEJORA (PRIORITARIAS)\n\n**INSTRUCCIÓN CRÍTICA:** Esta es la sección MÁS IMPORTANTE del análisis. Cada área de mejora debe seguir este formato exacto:\n\n**[NÚMERO]. [NOMBRE DEL ÁREA]**\n**❌ Lo que faltó:** [Describe específicamente qué NO hizo el vendedor, citando ejemplos concretos de la transcripción o señalando ausencias claras]\n**✅ Qué hacer:** [Explica paso a paso qué debe hacer la próxima vez, incluyendo frases exactas o preguntas que debe usar]\n**💡 Por qué importa:** [Explica el impacto comercial: cómo esto aumenta conversión, reduce objeciones, o mejora el cierre]\n**🎯 Ejercicio práctico:** [Da un ejercicio concreto para practicar esta habilidad]\n\n*(Genera entre 3 y 5 áreas de mejora siguiendo este formato)*\n\n---\n\n## 💡 CONCLUSIÓN\n\n[Resumen ejecutivo en 2-3 líneas]",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                -4736,
                -944
            ],
            "id": "a5fad2e6-43c4-41b2-8d16-b28dc16ad56e",
            "name": "Consultor Estratégico"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-4o-mini"
                },
                "options": {
                    "temperature": 0
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                -4640,
                -640
            ],
            "id": "9fedcf98-36c7-49d3-ac83-342a10eb7f3e",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "O37TWRmsjgm0WBxD",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\n// AQUÍ ESTÁ EL CAMBIO: Apuntamos al nuevo nodo 'Code in JavaScript3'\nconst metadata = $('Code in JavaScript3').first().json;\n\nreturn items.map((item) => {\n    let reporte = item.json.output || item.json.text || \"\";\n    return {\n        json: {\n            output: reporte,\n            // Pasamos los metadatos recuperados\n            folderId: metadata.folderId,\n            originalFileId: metadata.originalFileId,\n            nombre_archivo_reporte: metadata.nombre_archivo_reporte\n        }\n    };\n});"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -4432,
                -800
            ],
            "id": "02aa4474-b1f3-4b5a-942b-d1ade541f8c1",
            "name": "Calculadora mini-programador"
        },
        {
            "parameters": {
                "operation": "createFromText",
                "content": "={{ $json.output }}",
                "name": "={{ $json.nombre_archivo_reporte }}",
                "driveId": {
                    "__rl": true,
                    "value": "My Drive",
                    "mode": "list"
                },
                "folderId": {
                    "__rl": true,
                    "value": "={{ $json.folderId }}",
                    "mode": "id"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -4240,
                -800
            ],
            "id": "3ce9a967-ff31-4d60-b657-554e947128f2",
            "name": "Analisis CUALITATIVO",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Eres un auditor de calidad robótico y literal. Tu única función es verificar si ciertas frases o acciones ocurrieron en la transcripción. No des opiniones cualitativas, solo reporta hechos y rellena el checklist.\n\n**BASE DE CONOCIMIENTO (Guías de venta):**\n{{ $json.contexto_ventas }}\n\n**TRANSCRIPCIÓN A ANALIZAR:**\n{{ $json.texto_transcripcion }}\n\n**INSTRUCCIONES:**\nAnaliza la transcripción y rellena el siguiente checklist. Sé 100% literal. Responde SÍ/NO/PARCIAL o cuenta X/Y.\n\n# 📋 CHECKLIST CUANTITATIVO DE CUMPLIMIENTO\n\n**Vendedor:** {{ $json.nombre_vendedor }}\n**Fecha:** {{ $now.toFormat('yyyy-MM-dd') }}\n\n---\n\n## 1. Guión Venta PRO1 (General)\n- Siguió el guion general de 8 etapas: [SÍ/NO/PARCIAL]\n- Respondió objeciones según la guía: [SÍ/NO/PARCIAL/NO APLICA]\n- Hizo las 7 preguntas pre-objeciones: [X/7]\n- Siguió la cascada de cierre (Full price -> 3 bonos -> Formas de pago): [SÍ/NO]\n\n## 2. Playbook Asesor\n- ¿El cliente cumplía el criterio para \"apretar\" el cierre (ej: confirmó que era lo que necesitaba)?: [SÍ/NO]\n- ¿El vendedor \"apretó\" para cerrar (fue directo, pidió pago, etc.)?: [SÍ/NO]\n\n## 3. Guión Venta PRO1 (Frases Específicas)\n**Instrucción:** Marca SÍ solo si la frase se dijo textualmente o con un significado idéntico e inequívoco.\n\n### Sección Desafíos:\n- ¿Hace cuánto nos conoces?: [SÍ/NO]\n- Mi deber es tener la certeza de que podemos ayudarte: [SÍ/NO]\n- ¿Cuál es tu mayor problema / desafío...?: [SÍ/NO]\n- ¿Cómo te está afectando? / ¿Qué impacto tiene?: [SÍ/NO]\n- ¿Por qué estás tratando de resolverlo justo ahora?: [SÍ/NO]\n- ¿Por qué sientes que no logras resolver esto por tu cuenta?: [SÍ/NO]\n- ¿Cómo afecta esta situación a tu vocación, seguridad económica...?: [SÍ/NO]\n- ¿Qué significaría eso para ti? / ¿Qué impacto tendría...?: [SÍ/NO]\n- esto es en lo que deberíamos enfocarnos...: [SÍ/NO]\n\n### Sección Futuro/Plan:\n- ¿cuánto tiempo crees que podrías tardar en conseguir esto tú por tu cuenta?: [SÍ/NO]\n- Una década, ayudando a profesionales como tú...: [SÍ/NO]\n- modelos de negocio probados: [SÍ/NO]\n- todos nuestros casos de éxito han aplicado la metodología...: [SÍ/NO]\n\n### Sección Oferta (PRO1):\n- formación en negocio especializado en arquitectura de 12 semanas...: [SÍ/NO]\n- ¿quieres que te explique cómo se estructura...?: [SÍ/NO]\n- Este programa se divide en 2 pilares: [SÍ/NO]\n- una propuesta de alto valor que te diferencie: [SÍ/NO]\n- y no en metros cuadrados o porcentajes de obra...: [SÍ/NO]\n- El segundo pilar de 8 semanas: [SÍ/NO]\n- un plan de marketing y venta 100% orgánico: [SÍ/NO]\n- sin invertir en publicidad: [SÍ/NO]\n- generar las primeras 5 y 10 reuniones...: [SÍ/NO]\n- enseñarte a vender y a transmitir el valor...: [SÍ/NO]\n- sin hacer visitas, anteproyectos ni presupuestos gratis: [SÍ/NO]\n\n### Sección Acompañamiento:\n- cómo es el acompañamiento: [SÍ/NO]\n- sesiones grupales TODAS LAS SEMANAS: [SÍ/NO]\n- profesionales del rubro [como tú y como yo]: [SÍ/NO]\n- YA HECHAS para que puedas AVANZAR ÁGILMENTE...: [SÍ/NO]\n- tienes acceso DE POR VIDA a la comunidad...: [SÍ/NO]\n- CADA MES hacemos eventos de networking...: [SÍ/NO]\n- seminarios con ponentes de altísimo nivel...: [SÍ/NO]\n\n### Sección Cierre (Palancas y Bonos):\n- Si todo te encaja vas a poder procesar conmigo la inscripción...: [SÍ/NO]\n- sabemos que aquellos que consiguen mejores resultados...: [SÍ/NO]\n- Sin dar vueltas. Sin postergar.: [SÍ/NO]\n- porque has visto claramente cuál es tu problema...: [SÍ/NO]\n- beca de descuento: [SÍ/NO]\n- extensión del programa de 4 semanas más...: [SÍ/NO]\n- Sesión Empresario\" al final...: [SÍ/NO]\n- concretarlos de forma predecible... ESTE ES EL OBJETIVO...: [SÍ/NO]\n\n### Sección Cierre (Preguntas Finales):\n- ¿Sientes que esto es EXACTAMENTE lo que necesitas?: [SÍ/NO]\n- ¿Por qué sientes que esto es lo que necesitas?: [SÍ/NO]\n- Te voy a dejar aquí en el chat el link de pago,¿Te parece bien?: [SÍ/NO]\n- Normalmente la gente que ingre... paga de contado...: [SÍ/NO]\n- estarías dispuesto a avanzar?: [SÍ/NO]\n- ¿si lo dividiéramos por ejemplo en dos mitades...?: [SÍ/NO]\n- fraccionarlo en 3 cuotas...: [SÍ/NO]\n- alguna manera: [SÍ/NO]\n- dejar ahora una pequeña reserva de sólo 300€...: [SÍ/NO]\n- es un símbolo importante para ti de compromiso...: [SÍ/NO]\n\n### Sección Cierre (Manejo de \"NO PUEDO\"):\n- no tiene ningún riesgo y que además te beneficia con los bonus...: [SÍ/NO]\n- ¿Qué está pasando realmente? ¿Cómo te puedo ayudar?: [SÍ/NO]",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                -4752,
                -336
            ],
            "id": "5dfc6606-651a-4671-b2a0-a075720a9ec8",
            "name": "Auditor de Checklist"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-4o-mini"
                },
                "options": {
                    "temperature": 0
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                -4608,
                -48
            ],
            "id": "92224bc7-4c41-4525-b9ed-7371de36e2b7",
            "name": "OpenAI Chat Model1",
            "credentials": {
                "openAiApi": {
                    "id": "O37TWRmsjgm0WBxD",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\n// AQUÍ ESTÁ EL CAMBIO: Apuntamos al nuevo nodo 'Code in JavaScript3'\nconst metadata = $('Code in JavaScript3').first().json;\n\nreturn items.map((item) => {\n    const ai_output = item.json.output || item.json.text || \"\";\n    \n    // Cambiamos el nombre para que diga CUANTITATIVO\n    let reportName = \"Reporte_Cuantitativo.txt\";\n    if (metadata.nombre_archivo_reporte) {\n        reportName = metadata.nombre_archivo_reporte.replace('CUALITATIVO', 'CUANTITATIVO');\n    }\n\n    return {\n        json: {\n            output: ai_output,\n            folderId: metadata.folderId,\n            originalFileId: metadata.originalFileId,\n            nombre_archivo_reporte: reportName\n        }\n    };\n});"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -4448,
                -336
            ],
            "id": "2984e5c9-6967-4f10-a41e-c511b637a4bb",
            "name": "Datos_Checklist"
        },
        {
            "parameters": {
                "operation": "createFromText",
                "content": "={{ $json.output }}",
                "name": "={{ $json.nombre_archivo_reporte }}",
                "driveId": {
                    "__rl": true,
                    "value": "My Drive",
                    "mode": "list"
                },
                "folderId": {
                    "__rl": true,
                    "value": "={{ $json.folderId }}",
                    "mode": "id"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -4240,
                -336
            ],
            "id": "d32925ea-6ee9-46d3-88de-ee69c00eaac5",
            "name": "Analisis CUANTITATIVO",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "mode": "combine",
                "mergeByFields": {
                    "values": [
                        {
                            "field1": "folderId",
                            "field2": "folderId"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 2,
            "position": [
                -3792,
                -560
            ],
            "id": "e6cc762e-b6a3-4f22-a603-893d5e787ae0",
            "name": "Merge Final"
        },
        {
            "parameters": {
                "jsCode": "return [{json: {done: true}}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3568,
                -560
            ],
            "id": "3b5a1df5-b970-408a-9b94-919ad25771ae",
            "name": "Loop Back"
        }
    ],
    "pinData": {},
    "connections": {
        "Disparador Manual": {
            "main": [
                [
                    {
                        "node": "CONFIGURAR VENDEDORA AQUÍ",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "CONFIGURAR VENDEDORA AQUÍ": {
            "main": [
                [
                    {
                        "node": "Listar Archivos Vendedora",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Listar Archivos Vendedora": {
            "main": [
                [
                    {
                        "node": "Filtrar y Estampar Vendedor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filtrar y Estampar Vendedor": {
            "main": [
                [
                    {
                        "node": "Estampar Metadatos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Estampar Metadatos": {
            "main": [
                [
                    {
                        "node": "Loop Controller",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Controller": {
            "main": [
                [],
                [
                    {
                        "node": "Descargar Archivo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Descargar Archivo": {
            "main": [
                [
                    {
                        "node": "Texto a JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Texto a JSON": {
            "main": [
                [
                    {
                        "node": "Preparar Texto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Texto": {
            "main": [
                [
                    {
                        "node": "Calcular Semana1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calcular Semana1": {
            "main": [
                [
                    {
                        "node": "Buscar Carpeta Semana1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Carpeta Semana1": {
            "main": [
                [
                    {
                        "node": "If Semana Existe1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Semana Existe1": {
            "main": [
                [
                    {
                        "node": "Merge Semana1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Crear Carpeta Semana",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Crear Carpeta Semana": {
            "main": [
                [
                    {
                        "node": "Merge Semana1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Semana1": {
            "main": [
                [
                    {
                        "node": "Buscar Carpeta Vendedor1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Carpeta Vendedor1": {
            "main": [
                [
                    {
                        "node": "If Vendedor Existe1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Vendedor Existe1": {
            "main": [
                [
                    {
                        "node": "Merge Vendedor1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Crear Carpeta Vendedor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Crear Carpeta Vendedor": {
            "main": [
                [
                    {
                        "node": "Merge Vendedor1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Vendedor1": {
            "main": [
                [
                    {
                        "node": "Buscar Carpeta Reunion1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Carpeta Reunion1": {
            "main": [
                [
                    {
                        "node": "If Reunion Existe1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Reunion Existe1": {
            "main": [
                [
                    {
                        "node": "Verificar Reportes",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Crear Carpeta Reunion",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Verificar Reportes": {
            "main": [
                [
                    {
                        "node": "If Reporte Ya Existe",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Reporte Ya Existe": {
            "main": [
                [
                    {
                        "node": "Loop Back",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Restore Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Crear Carpeta Reunion": {
            "main": [
                [
                    {
                        "node": "Merge Reunion1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Reunion1": {
            "main": [
                [
                    {
                        "node": "Copiar Archivo1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Copiar Archivo1": {
            "main": [
                [
                    {
                        "node": "Download file",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download file": {
            "main": [
                [
                    {
                        "node": "Extract from File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract from File": {
            "main": [
                [
                    {
                        "node": "Search files and folders1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search files and folders1": {
            "main": [
                [
                    {
                        "node": "Download file1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download file1": {
            "main": [
                [
                    {
                        "node": "Extract from File1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract from File1": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript3": {
            "main": [
                [
                    {
                        "node": "Auditor de Checklist",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Consultor Estratégico",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consultor Estratégico": {
            "main": [
                [
                    {
                        "node": "Calculadora mini-programador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Consultor Estratégico",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculadora mini-programador": {
            "main": [
                [
                    {
                        "node": "Analisis CUALITATIVO",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analisis CUALITATIVO": {
            "main": [
                [
                    {
                        "node": "Merge Final",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Auditor de Checklist": {
            "main": [
                [
                    {
                        "node": "Datos_Checklist",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "Auditor de Checklist",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Datos_Checklist": {
            "main": [
                [
                    {
                        "node": "Analisis CUANTITATIVO",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analisis CUANTITATIVO": {
            "main": [
                [
                    {
                        "node": "Merge Final",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Final": {
            "main": [
                [
                    {
                        "node": "Loop Back",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Back": {
            "main": [
                [
                    {
                        "node": "Loop Controller",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "manual-v1",
    "meta": {
        "instanceId": "manual-instance"
    },
    "id": "Agente_Manual_V1",
    "tags": []
}