Combined_WhatsApp_UI.json
{
    "name": "Auto-Magic v5 (Fixed Read Selector)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generar-ui-whatsapp",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -480,
                0
            ],
            "id": "webhook-whatsapp",
            "name": "Webhook WhatsApp",
            "webhookId": "6215c704-c425-46a9-a8a6-338535560a47"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.data.messageType }}",
                                        "rightValue": "=^(conversation|extendedTextMessage)$",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Texto"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.data.messageType }}",
                                        "rightValue": "audioMessage",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Audio"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                -260,
                0
            ],
            "id": "switch-msg-type",
            "name": "Tipo Mensaje"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "prompt",
                            "value": "={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage.text }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                0,
                -120
            ],
            "id": "set-text-prompt",
            "name": "Set Prompt (Texto)"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "Mensaje de Audio",
                            "value": "={{ $json.body.data.message.base64 }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                0,
                140
            ],
            "id": "prep-audio",
            "name": "Prep Audio"
        },
        {
            "parameters": {
                "operation": "toBinary",
                "sourceProperty": "Mensaje de Audio",
                "options": {
                    "mimeType": "audio/mp3"
                }
            },
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [
                200,
                140
            ],
            "id": "convert-audio",
            "name": "Convertir a Archivo"
        },
        {
            "parameters": {
                "resource": "audio",
                "operation": "transcribe",
                "binaryPropertyName": "=data",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                400,
                140
            ],
            "id": "transcribe-whisper",
            "name": "Whisper Transcribe",
            "credentials": {
                "openAiApi": {
                    "id": "O37TWRmsjgm0WBxD",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "prompt",
                            "value": "={{ $json.text }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                600,
                140
            ],
            "id": "set-voice-prompt",
            "name": "Set Prompt (Voz)"
        },
        {
            "parameters": {
                "mode": "load",
                "pineconeIndex": {
                    "__rl": true,
                    "value": "design-system",
                    "mode": "list"
                },
                "prompt": "={{ $json.prompt }}",
                "topK": 12,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1.3,
            "position": [
                840,
                0
            ],
            "id": "pinecone-search",
            "name": "Pinecone Search",
            "credentials": {
                "pineconeApi": {
                    "id": "p2NsNz1SPkez82z5",
                    "name": "PineconeApi account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.2,
            "position": [
                760,
                280
            ],
            "id": "embeddings-openai",
            "name": "Embeddings OpenAI",
            "credentials": {
                "openAiApi": {
                    "id": "O37TWRmsjgm0WBxD",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Preparar contexto + Metadata\nconst pineconeResults = $input.all();\nconst firstItem = pineconeResults[0].json;\n\n// 1. Prompt & Meta\nconst userPrompt = firstItem.prompt || \"Dashboard\";\nconst whatsappInstance = firstItem.body?.instance || firstItem.instance;\nconst whatsappRemoteJid = firstItem.body?.data?.key?.remoteJid || firstItem.remoteJid;\nconst whatsappMessageId = firstItem.body?.data?.key?.id || firstItem.messageId;\nconst whatsappSender = firstItem.body?.sender || firstItem.sender;\n\nconsole.log('🔍 Analyzing Pinecone Results:', pineconeResults.length);\n\n// 2. Componentes\nconst componentsByType = {};\npineconeResults.forEach(item => {\n  const doc = item.json.document || item.json;\n  const metadata = doc.metadata || doc || {};\n  const name = metadata.componentName || metadata.name || 'unknown';\n  const key = metadata.componentKey || metadata.key || metadata.figmaId || 'unknown';\n  const desc = metadata.description || doc.pageContent || '';\n  if (key !== 'unknown' && !componentsByType[name]) {\n    componentsByType[name] = { name, key, description: desc.substring(0, 300) };\n  }\n});\nconst availableComponents = Object.values(componentsByType);\nlet componentsDescription = availableComponents.length > 0 \n    ? availableComponents.map(c => `  - **${c.name}** (Key: \"${c.key}\")\\n    Desc: ${c.description}`).join('\\n\\n')\n    : \"No se encontraron componentes específicos.\";\n\nreturn [{\n  json: {\n    userPrompt: userPrompt,\n    componentsDescription: componentsDescription,\n    whatsappMeta: {\n      instance: whatsappInstance,\n      remoteJid: whatsappRemoteJid,\n      messageId: whatsappMessageId,\n      sender: whatsappSender\n    }\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                0
            ],
            "id": "prep-context",
            "name": "Preparar Contexto"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "==Eres un diseñador de interfaces UI/UX de clase mundial.\\n\\n**OBJETIVO:**\\nDiseñar una interfaz en Figma (JSON) para: {{ $json.userPrompt }}\\n\\n**COMPONENTES DISPONIBLES:**\\n{{ $json.componentsDescription }}\\n\\n---\\n\\n## 🎨 REGLAS CREATIVAS\\n1. **VISUAL:** Usa imágenes, iconos y textos realistas.\\n2. **LOGOS:** Crea logos con texto (TEXT_NODE).\\n3. **GRID:** Usa 3-4 columnas para tarjetas.\\n\\n## 📝 FORMATO JSON\\n(Responde SOLO con JSON válido para Figma, estructura FRAME > CHILDREN).",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                1340,
                0
            ],
            "id": "gemini-designer",
            "name": "Gemini: Diseñar UI"
        },
        {
            "parameters": {
                "modelName": "models/gemini-1.5-pro-latest",
                "options": {
                    "temperature": 0.8
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                1340,
                240
            ],
            "id": "gemini-model",
            "name": "Google Gemini Pro",
            "credentials": {
                "googlePalmApi": {
                    "id": "A4DmOX9XoJsDMGIX",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// 1. Limpieza JSON\nlet output = $input.first().json.output;\nconst originalInput = $('Preparar Contexto').first().json;\n\noutput = output.replace(/```json/g, '').replace(/```/g, '').trim();\n\ntry {\n  const parsed = JSON.parse(output);\n  // 2. IMPORTANTE: Agregamos TIMESTAMP para que Figma sepa si es nuevo\n  const timestamp = Date.now();\n  \n  return [{ \n    json: { \n      design: parsed,\n      timestamp: timestamp,\n      prettyJson: JSON.stringify(parsed, null, 2),\n      whatsappMeta: originalInput.whatsappMeta\n    } \n  }];\n} catch (e) {\n  throw new Error(\"Invalid JSON generated: \" + e.message);\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1660,
                0
            ],
            "id": "validate-json",
            "name": "Validar y Timestampear"
        },
        {
            "parameters": {
                "operation": "write",
                "fileName": "/tmp/latest_design.json",
                "fileContent": "={{ JSON.stringify({ design: $json.design, timestamp: $json.timestamp }) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.readWriteFile",
            "typeVersion": 1,
            "position": [
                1900,
                0
            ],
            "id": "save-file",
            "name": "GUARDAR DISEÑO (Buzón)"
        },
        {
            "parameters": {
                "resource": "chat-api",
                "operation": "read-messages",
                "instanceName": "={{ $json.whatsappMeta.instance }}",
                "remoteJid": "={{ $json.whatsappMeta.remoteJid }}",
                "messageId": "={{ $json.whatsappMeta.messageId }}"
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                2140,
                -100
            ],
            "id": "mark-read",
            "name": "Marcar OK",
            "credentials": {
                "evolutionApi": {
                    "id": "4cfCLQllVGThdDvw",
                    "name": "Evolution account"
                }
            }
        },
        {
            "parameters": {
                "resource": "messages-api",
                "instanceName": "={{ $json.whatsappMeta.instance }}",
                "remoteJid": "={{ $json.whatsappMeta.remoteJid }}",
                "messageText": "✨ *Diseño generado con éxito*\n\nYa debería estar apareciendo en tu Figma automáticamente. 🪄",
                "options_message": {
                    "delay": 1000
                }
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                2380,
                0
            ],
            "id": "send-whatsapp",
            "name": "Confirmar WhatsApp",
            "credentials": {
                "evolutionApi": {
                    "id": "4cfCLQllVGThdDvw",
                    "name": "Evolution account"
                }
            }
        },
        {
            "parameters": {
                "resource": "integrations-api",
                "operation": "evolution-bot",
                "instanceName": "={{ $json.whatsappMeta.instance }}",
                "resourceForEvolutionBot": "changeStatusEvolutionBot",
                "evolutionBotId": "={{ $json.whatsappMeta.messageId }}",
                "remoteJid": "={{ $json.whatsappMeta.remoteJid || $json.whatsappMeta.sender }}",
                "status": "closed"
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                2620,
                0
            ],
            "id": "close-instance",
            "name": "Cerrar instancia",
            "credentials": {
                "evolutionApi": {
                    "id": "4cfCLQllVGThdDvw",
                    "name": "Evolution account"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "check-design",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -480,
                500
            ],
            "id": "webhook-polling",
            "name": "Webhook Polling (Figma)"
        },
        {
            "parameters": {
                "operation": "read",
                "fileSelector": "/tmp/latest_design.json",
                "options": {}
            },
            "type": "n8n-nodes-base.readWriteFile",
            "typeVersion": 1,
            "position": [
                -260,
                500
            ],
            "id": "read-file",
            "name": "LEER DISEÑO",
            "continueOnFail": true
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json.data ? JSON.parse($json.data) : { timestamp: 0 } }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                0,
                500
            ],
            "id": "respond-polling",
            "name": "Responder a Figma"
        }
    ],
    "connections": {
        "Webhook WhatsApp": {
            "main": [
                [
                    {
                        "node": "Tipo Mensaje",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tipo Mensaje": {
            "main": [
                [
                    {
                        "node": "Set Prompt (Texto)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Prep Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prep Audio": {
            "main": [
                [
                    {
                        "node": "Convertir a Archivo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Convertir a Archivo": {
            "main": [
                [
                    {
                        "node": "Whisper Transcribe",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Whisper Transcribe": {
            "main": [
                [
                    {
                        "node": "Set Prompt (Voz)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Prompt (Texto)": {
            "main": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Prompt (Voz)": {
            "main": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI": {
            "ai_embedding": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Pinecone Search": {
            "main": [
                [
                    {
                        "node": "Preparar Contexto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Contexto": {
            "main": [
                [
                    {
                        "node": "Gemini: Diseñar UI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Pro": {
            "ai_languageModel": [
                [
                    {
                        "node": "Gemini: Diseñar UI",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Diseñar UI": {
            "main": [
                [
                    {
                        "node": "Validar y Timestampear",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validar y Timestampear": {
            "main": [
                [
                    {
                        "node": "GUARDAR DISEÑO (Buzón)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GUARDAR DISEÑO (Buzón)": {
            "main": [
                [
                    {
                        "node": "Marcar OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Marcar OK": {
            "main": [
                [
                    {
                        "node": "Confirmar WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Confirmar WhatsApp": {
            "main": [
                [
                    {
                        "node": "Cerrar instancia",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Polling (Figma)": {
            "main": [
                [
                    {
                        "node": "LEER DISEÑO",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "LEER DISEÑO": {
            "main": [
                [
                    {
                        "node": "Responder a Figma",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}