V2_Flujo_Semanal_Week4.json
{
    "name": "V2-Flujo Semanal copy",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "weeks",
                            "triggerAtDay": [
                                5
                            ],
                            "triggerAtHour": 17,
                            "triggerAtMinute": 30
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -288,
                208
            ],
            "id": "fe792a2c-d034-4823-b5bc-b91a4c92046a",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "jsCode": "// --- 🕹️ CONTROL MANUAL ---\n// Cambia el 'null' por un número (ej: 51) para forzar esa semana.\n// Déjalo en 'null' para que use la fecha de hoy automáticamente.\nconst manualWeek = 4; \n// ----------------------------\n\nconst now = $now;\nlet weekNumber = now.weekNumber;\nlet year = now.weekYear;\n\n// Si hay un número manual, lo usamos\nif (manualWeek) {\n    weekNumber = manualWeek;\n}\n\nconst weekFolderName = `Semana ${String(weekNumber).padStart(2, '0')} - ${year}`;\n\nreturn [ { json: { weekFolderName: weekFolderName } } ];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -80,
                208
            ],
            "id": "2047c22d-3aea-49bd-8056-f0e8bf8c89c0",
            "name": "Calcular Nombre de Semana"
        },
        {
            "parameters": {
                "resource": "fileFolder",
                "searchMethod": "query",
                "queryString": "=mimeType = 'application/vnd.google-apps.folder' and name = '{{ $json.weekFolderName }}' and '1aCOa0Pe4DYfZxeQR8MYMzaJS3CWoMwal' in parents and trashed = false",
                "filter": {
                    "driveId": {
                        "__rl": true,
                        "value": "My Drive",
                        "mode": "list",
                        "cachedResultName": "My Drive",
                        "cachedResultUrl": "https://drive.google.com/drive/my-drive"
                    }
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                128,
                208
            ],
            "id": "4589c222-81f9-4642-8ae5-4effe4e2bf3f",
            "name": "Buscar Carpeta Semana",
            "alwaysOutputData": true,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "resource": "fileFolder",
                "returnAll": true,
                "filter": {
                    "folderId": {
                        "__rl": true,
                        "value": "={{ $json.id }}",
                        "mode": "id"
                    },
                    "whatToSearch": "folders"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                1024,
                0
            ],
            "id": "931625d9-ca22-4bbc-a7ee-ab59b3e5b626",
            "name": "Buscar Carpetas de Vendedores",
            "executeOnce": false,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "resource": "fileFolder",
                "searchMethod": "query",
                "queryString": "='{{ $json.id }}' in parents and name contains 'ANALISIS_'",
                "returnAll": true,
                "filter": {},
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                1456,
                0
            ],
            "id": "d03b1483-4248-4f9b-85dd-0e1419ee932a",
            "name": "Buscar Archivos de Análisis",
            "executeOnce": false,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "operation": "download",
                "fileId": {
                    "__rl": true,
                    "value": "={{ $json.id }}",
                    "mode": "id"
                },
                "options": {
                    "googleFileConversion": {
                        "conversion": {
                            "docsToFormat": "text/plain"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                1664,
                0
            ],
            "id": "a61e3ea2-e673-43cd-a329-847d6b4dcce1",
            "name": "Descargar Informes",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "operation": "text",
                "options": {}
            },
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1,
            "position": [
                1872,
                0
            ],
            "id": "b0f68984-45c6-46e3-90d9-d97e97622911",
            "name": "Extraer Texto de Informes"
        },
        {
            "parameters": {
                "jsCode": "const informes = $input.all();\n\nlet informeMaster = \"\";\nlet totalInformes = 0;\n\n// 1) Consolidar textos\nfor (const informe of informes) {\n  const texto =\n    informe.json.data ??\n    informe.json.text ??\n    informe.json.content ??\n    informe.json.output ??\n    \"\";\n\n  if (typeof texto === \"string\" && texto.trim().length > 0) {\n    totalInformes++;\n    informeMaster += texto.trim() + \"\\n\\n========================================\\n\\n\";\n  }\n}\n\n// 2) Contar vendedores de forma defensiva\nlet totalVendedores = 0;\ntry {\n  const vendedores = $(\"Buscar Carpetas de Vendedores\").all();\n  totalVendedores = Array.isArray(vendedores) ? vendedores.length : 0;\n} catch (e) {\n  totalVendedores = 0;\n}\n\n// 3) Boolean final para el IF\nconst hayInformes = totalInformes > 0;\n\n// 4) Devolver estructura estable\nreturn [\n  {\n    json: {\n      informe_master_completo: informeMaster.trim(), // puede ir vacío\n      total_vendedores: totalVendedores,\n      total_informes: totalInformes,\n      hay_informes: hayInformes\n    }\n  }\n];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2080,
                0
            ],
            "id": "06ec40fc-82e3-4786-8f84-9d2a1e5bf04f",
            "name": "Agrupar Informes por Vendedor"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Eres un Director de Ventas y Coach de alto rendimiento.  \nTu trabajo es analizar TODOS los informes de rendimiento de TODOS los vendedores de esta semana y crear un INFORME MASTER CONSOLIDADO basado únicamente en PATRONES GLOBALES que se repiten en varios vendedores.\n\nNo debes incluir errores aislados ni situaciones puntuales a menos que sean extremadamente críticas.\n\nEl INFORME FINAL debe generarse con una MAQUETACIÓN clara y fácil de leer usando SOLO:\n- Negritas reales\n- Iconos\n- Líneas vacías para separar bloques\n- Viñetas claras\n- Estructura visual minimalista pero MUY clara\n\nNada de encabezados tipo # o ##  \nNada que dependa del render markdown (n8n no lo respeta bien)\n\n---\n\nREGLAS CONDICIONALES OBLIGATORIAS (NO NEGOCIABLES)\n\n- Si el número total de vendedores analizados es 1:\n  - NO hagas comparaciones entre vendedores.\n  - NO establezcas rankings.\n  - NO elijas “Mejor Desempeño” ni “Mayor Mejora”.\n  - NO incluyas la sección 🏆 RECONOCIMIENTOS.\n  - El análisis debe ser individual, manteniendo la misma estructura pero sin referencias comparativas.\n\n- Si el número total de vendedores analizados es 2 o más:\n  - Aplica el análisis comparativo completo.\n  - Incluye la sección 🏆 RECONOCIMIENTOS como está definida.\n\n---\n\nCOMPILACIÓN DE INFORMES DE TODOS LOS VENDEDORES:\n{{ $json.informe_master_completo }}\n\n---\n\nINSTRUCCIONES\n\nCrea un informe consolidado siguiendo esta estructura EXACTA  \n(respetando negritas, emojis y saltos de línea):\n\n---\n\n📊 INFORME MASTER DE RENDIMIENTO SEMANAL\n\n📅 Semana: {{ $('Calcular Nombre de Semana').first().json.weekFolderName }}  \n👥 Total de Vendedores Analizados: {{ $json.total_vendedores }}\n\n---\n\n📈 RESUMEN EJECUTIVO GENERAL\n\n[Resumen global en 1 párrafo directo, claro y fácil de leer.]\n\n---\n\n🔍 PATRONES SEMANALES DETECTADOS\n\n🧩 Patrones Cualitativos (Comportamiento Semanal)\n- Lista de patrones positivos y negativos que se repiten en el equipo.\n\n📊 Patrones Cuantitativos (Tendencias Semanales)\n- Promedios del equipo expresados con viñetas y datos en negrita.\n\n---\n\n👥 ANÁLISIS POR VENDEDOR (Basado en Patrones)\n\nCrea una sección para cada vendedor con este formato EXACTO:\n\n🔹 VENDEDOR: [Nombre del vendedor]  \nPuntuación Global Promedio: X/10  \nAdherencia al Guion: SI / NO / PARCIAL  \nPreguntas Pre-Objeciones Promedio: X/7  \n\n⭐ Fortalezas Sostenidas (solo patrones del equipo):\n- Patrón positivo 1\n- Patrón positivo 2\n\n⚠️ Áreas de Mejora Críticas (solo patrones del equipo):\n- Patrón negativo 1\n- Patrón negativo 2\n\n📌 Comparación con los Patrones Semanales:\n- Si hay más de un vendedor, explica si está por encima, igual o por debajo del patrón general.\n- Si solo hay un vendedor, indica que la comparación no aplica.\n\n🎯 Foco para la Próxima Semana:\n- Párrafo breve, claro y accionable basado en patrones.\n\n(Repite este bloque con todos los vendedores.)\n\n---\n\n🎯 PRIORIDADES DEL EQUIPO PARA LA PRÓXIMA SEMANA\n- …\n- …\n- …\n\n---\n\n🏆 RECONOCIMIENTOS  \n(Mostrar esta sección SOLO si hay más de un vendedor analizado)\n\nMejor Desempeño de la Semana: Nombre + motivo  \nMayor Mejora: Nombre + progreso respecto a patrones\n\n---\n\nIMPORTANTE\n\n- Analiza TODOS los vendedores presentes en los informes.\n- NO menciones llamadas individuales.\n- NO incluyas errores aislados.\n- Céntrate solo en patrones que se repiten entre varios vendedores.\n- Usa un tono claro, directo y accionable.\n- La maquetación debe verse limpia, con negritas y emojis, sin markdown avanzado.\n",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                2896,
                -368
            ],
            "id": "f9ef4ea8-a7c1-43d6-8b0d-8df8e20ace55",
            "name": "Director de Ventas"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-4.1-mini"
                },
                "builtInTools": {},
                "options": {
                    "temperature": 0
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                2896,
                -144
            ],
            "id": "1c92917c-3a33-4b3a-a787-35154ee43868",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "O37TWRmsjgm0WBxD",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "sendTo": "sccapineti@gmail.com",
                "subject": "=Informe de Patrones Semanal - {{ $('Calcular Nombre de Semana').first().json.weekFolderName }}",
                "emailType": "text",
                "message": "={{ $json.output }}",
                "options": {}
            },
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                3216,
                -368
            ],
            "id": "7360d7b7-aebe-4ebe-b845-573d54895d07",
            "name": "Send a message",
            "webhookId": "f882666c-916c-43e5-9531-76aa33a13abb",
            "credentials": {
                "gmailOAuth2": {
                    "id": "vPHJ5Xftvzyj0K3Y",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "resource": "fileFolder",
                "filter": {
                    "folderId": {
                        "__rl": true,
                        "value": "={{ $json.id }}",
                        "mode": "id"
                    }
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                1232,
                0
            ],
            "id": "6506dade-8363-4b45-abf9-e2580f8ca568",
            "name": "Buscar Carpetas de Reuniones",
            "alwaysOutputData": true,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "c8RhhwWsrFFMDWAC",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "7ace88d3-eec1-40f4-a733-b3f85cb542f3",
                            "leftValue": "={{$json.hay_informes}} is true\nConvert types: ON\n",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                2288,
                0
            ],
            "id": "83347ef9-c554-48fc-b7f0-df71eb0d4f95",
            "name": "If"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "a51612b7-bdf2-496f-b794-0d1c02281e49",
                            "name": "output",
                            "value": "=No han habido reuniones registradas en {{ $('Calcular Nombre de Semana').first().json.weekFolderName }}.",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2496,
                144
            ],
            "id": "7c1b0840-918d-4cf4-b04d-8f8dc0ea31db",
            "name": "Edit Fields"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\n\n// intentamos detectar nombre del vendedor en el texto master\nconst text = (items[0]?.json?.informe_master_completo || \"\").toLowerCase();\n\nconst vendorNames = [\n  \"consuelo mardones\",\n  \"lucia lebrato\",\n  \"cari valdés\",\n  \"cari valdes\",\n  \"cecelia\"\n];\n\nconst vendorsWithReports = vendorNames.filter(v => text.includes(v));\nconst uniqueVendors = [...new Set(vendorsWithReports)];\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    total_vendedoras_con_informes: uniqueVendors.length,\n    vendedoras_con_informes: uniqueVendors,\n  }\n}));\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2512,
                -368
            ],
            "id": "d289063a-5461-4e54-a7d1-fc359ebdf32e",
            "name": "Director de Ventas1"
        },
        {
            "parameters": {
                "sendTo": "sccapineti@gmail.com",
                "subject": "=Informe de Patrones Semanal - {{ $('Calcular Nombre de Semana').first().json.weekFolderName }}\n",
                "emailType": "text",
                "message": "=No han habido reuniones registradas en {{ $('Calcular Nombre de Semana').first().json.weekFolderName }}.",
                "options": {}
            },
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                1024,
                384
            ],
            "id": "7eecb2f0-351d-4f4b-9299-58a5c57c3a8b",
            "name": "Send a message1",
            "webhookId": "eeb8bf34-67bd-4b02-9b9b-30c756c54dcc",
            "credentials": {
                "gmailOAuth2": {
                    "id": "vPHJ5Xftvzyj0K3Y",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "4ec4a122-0b59-40af-99ac-b1bd2d50abb1",
                            "leftValue": "={{ $json.weekFolderExists }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                592,
                208
            ],
            "id": "df148844-4ae1-43d2-8740-e7fbaab59809",
            "name": "If2",
            "alwaysOutputData": false
        },
        {
            "parameters": {
                "sendTo": "sccapineti@gmail.com",
                "subject": "={{$json.subject}}",
                "emailType": "text",
                "message": "=No han habido reuniones registradas en {{ $('Calcular Nombre de Semana').first().json.weekFolderName }}.",
                "options": {}
            },
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                2704,
                144
            ],
            "id": "f91e7d98-3b6a-4e91-b7ec-1cb43ed59703",
            "name": "Send a message2",
            "webhookId": "826c739b-402b-4f07-9c0c-9940b93bb711",
            "credentials": {
                "gmailOAuth2": {
                    "id": "vPHJ5Xftvzyj0K3Y",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\n\n// Verificamos si Google Drive nos devolvió una carpeta real\nconst firstItem = items[0]?.json;\nconst folderId = firstItem?.id; // Capturamos el ID si existe\n\nreturn [{\n  json: {\n    // IMPORTANTE: Devolvemos 'id' para que el nodo de 'Vendedores' sepa dónde buscar\n    id: folderId, \n    \n    // Y mantenemos nuestro booleano para el IF\n    weekFolderExists: !!folderId \n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                368,
                208
            ],
            "id": "79ab09bd-332c-4638-beb8-ccb774193e9a",
            "name": "Detectar carpeta semana",
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "content": "## Inicio y contexto temporal\n",
                "height": 352,
                "width": 512,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -448,
                80
            ],
            "typeVersion": 1,
            "id": "232c8613-ac1a-43b3-9653-54b9bf6cab97",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "content": "## Localizar la semana en Google Drive\n",
                "height": 352,
                "width": 448,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                80,
                80
            ],
            "typeVersion": 1,
            "id": "79a66edf-cb67-4e68-af3b-b9de1d244362",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "content": "## ¿Hay actividad esta semana?\n",
                "height": 352,
                "width": 208,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                544,
                80
            ],
            "typeVersion": 1,
            "id": "ef86f0fb-afd7-44cf-9406-13cdff4aff1b",
            "name": "Sticky Note2"
        },
        {
            "parameters": {
                "content": "## Notificación por semana sin actividad\n",
                "height": 352,
                "width": 304,
                "color": 3
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                976,
                256
            ],
            "typeVersion": 1,
            "id": "62d42f35-764c-4fee-8853-b9d42d0d6691",
            "name": "Sticky Note3"
        },
        {
            "parameters": {
                "content": "## Recopilar información de vendedores",
                "height": 320,
                "width": 400,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                976,
                -128
            ],
            "typeVersion": 1,
            "id": "4f49f978-d63d-48c7-a6a5-5d5dbf999df6",
            "name": "Sticky Note4"
        },
        {
            "parameters": {
                "content": "## Obtener y procesar informes",
                "height": 320,
                "width": 640,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1392,
                -128
            ],
            "typeVersion": 1,
            "id": "f601981e-2b79-4514-b053-93791ae3c944",
            "name": "Sticky Note5"
        },
        {
            "parameters": {
                "content": "## Consolidar información semanal",
                "height": 320,
                "width": 176,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                2048,
                -128
            ],
            "typeVersion": 1,
            "id": "04834966-50bd-4ece-aef5-c6f83b93984f",
            "name": "Sticky Note6"
        },
        {
            "parameters": {
                "content": "## ¿Hay datos analizables?",
                "height": 320,
                "width": 192,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                2240,
                -128
            ],
            "typeVersion": 1,
            "id": "5ad24c13-889f-4f2c-be65-29b7dbec2e5a",
            "name": "Sticky Note7"
        },
        {
            "parameters": {
                "content": "## Análisis estratégico con IA\n",
                "height": 528,
                "width": 992,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                2464,
                -528
            ],
            "typeVersion": 1,
            "id": "7d6fa1dd-7a2f-458c-ad70-14db071b7f92",
            "name": "Sticky Note8"
        },
        {
            "parameters": {
                "content": "## Comunicación de ausencia de datos\n",
                "height": 288,
                "width": 992,
                "color": 3
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                2464,
                32
            ],
            "typeVersion": 1,
            "id": "9e2eb818-cdd6-49dd-b474-8a405ce8a3aa",
            "name": "Sticky Note9"
        }
    ],
    "pinData": {},
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Calcular Nombre de Semana",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calcular Nombre de Semana": {
            "main": [
                [
                    {
                        "node": "Buscar Carpeta Semana",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Carpeta Semana": {
            "main": [
                [
                    {
                        "node": "Detectar carpeta semana",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Carpetas de Vendedores": {
            "main": [
                [
                    {
                        "node": "Buscar Carpetas de Reuniones",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Archivos de Análisis": {
            "main": [
                [
                    {
                        "node": "Descargar Informes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Descargar Informes": {
            "main": [
                [
                    {
                        "node": "Extraer Texto de Informes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extraer Texto de Informes": {
            "main": [
                [
                    {
                        "node": "Agrupar Informes por Vendedor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agrupar Informes por Vendedor": {
            "main": [
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Director de Ventas",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Director de Ventas": {
            "main": [
                [
                    {
                        "node": "Send a message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Carpetas de Reuniones": {
            "main": [
                [
                    {
                        "node": "Buscar Archivos de Análisis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If": {
            "main": [
                [
                    {
                        "node": "Director de Ventas1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Edit Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Director de Ventas1": {
            "main": [
                [
                    {
                        "node": "Director de Ventas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If2": {
            "main": [
                [
                    {
                        "node": "Buscar Carpetas de Vendedores",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send a message1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields": {
            "main": [
                [
                    {
                        "node": "Send a message2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Detectar carpeta semana": {
            "main": [
                [
                    {
                        "node": "If2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false,
        "timeSavedMode": "fixed",
        "timezone": "Atlantic/Canary",
        "callerPolicy": "workflowsFromSameOwner"
    },
    "versionId": "73dd257d-98aa-4192-821f-55107be98310",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "3efa0810f678680b3ab9873a809d017fbd7c8833aae452b14a057994d649074b"
    },
    "id": "r7ren0LfRznHYd01",
    "tags": []
}