json_backups/Combined_WhatsApp_UI_v23_ULTIMATE.json
{
    "name": "Auto-Magic v23 (ULTIMATE FIXED)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generar-ui-whatsapp",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -480,
                0
            ],
            "id": "webhook-whatsapp-v23-ult",
            "name": "Webhook WhatsApp",
            "webhookId": "6215c704-c425-46a9-a8a6-338535560a47"
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "OK",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -280,
                -180
            ],
            "id": "respond-wa-immediate-ult",
            "name": "Responder WA Rapido"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.data.messageType }}",
                                        "rightValue": "=^(conversation|extendedTextMessage)$",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Texto"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.data.messageType }}",
                                        "rightValue": "audioMessage",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Audio"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                -280,
                0
            ],
            "id": "switch-msg-type-v23-ult",
            "name": "Tipo Mensaje"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "prompt",
                            "value": "={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage.text }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                0,
                -120
            ],
            "id": "set-text-prompt-v23-ult",
            "name": "Set Prompt (Texto)"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "Mensaje de Audio",
                            "value": "={{ $json.body.data.message.base64 }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                0,
                140
            ],
            "id": "prep-audio-v23-ult",
            "name": "Prep Audio"
        },
        {
            "parameters": {
                "operation": "toBinary",
                "sourceProperty": "Mensaje de Audio",
                "options": {
                    "mimeType": "audio/mp3"
                }
            },
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [
                200,
                140
            ],
            "id": "convert-audio-v23-ult",
            "name": "Convertir a Archivo"
        },
        {
            "parameters": {
                "resource": "audio",
                "operation": "transcribe",
                "binaryPropertyName": "=data",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                400,
                140
            ],
            "id": "transcribe-whisper-v23-ult",
            "name": "Whisper Transcribe",
            "credentials": {
                "openAiApi": {
                    "id": "O37TWRmsjgm0WBxD",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "prompt",
                            "value": "={{ $json.text }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                600,
                140
            ],
            "id": "set-voice-prompt-v23-ult",
            "name": "Set Prompt (Voz)"
        },
        {
            "parameters": {
                "mode": "load",
                "pineconeIndex": {
                    "__rl": true,
                    "value": "design-system",
                    "mode": "list"
                },
                "prompt": "={{ $json.prompt }}",
                "topK": 12,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1.3,
            "position": [
                840,
                0
            ],
            "id": "pinecone-search-v23-ult",
            "name": "Pinecone Search",
            "credentials": {
                "pineconeApi": {
                    "id": "p2NsNz1SPkez82z5",
                    "name": "PineconeApi account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.2,
            "position": [
                760,
                280
            ],
            "id": "embeddings-openai-v23-ult",
            "name": "Embeddings OpenAI",
            "credentials": {
                "openAiApi": {
                    "id": "O37TWRmsjgm0WBxD",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Preparar contexto + Metadata\nconst pineconeResults = $input.all();\nconst webhookData = $('Webhook WhatsApp').first().json.body;\n\n// 2. Prompt & Meta\nlet userPrompt = \"Dashboard\";\ntry {\n  const t = $('Set Prompt (Texto)').first();\n  const v = $('Set Prompt (Voz)').first();\n  if (t && t.json.prompt) userPrompt = t.json.prompt;\n  else if (v && v.json.prompt) userPrompt = v.json.prompt;\n} catch(e) {}\n\nconst whatsappMeta = {\n  instance: webhookData.instance || webhookData.body?.instance,\n  remoteJid: webhookData.data?.key?.remoteJid || webhookData.key?.remoteJid,\n  messageId: webhookData.data?.key?.id || webhookData.key?.id,\n  sender: webhookData.sender || webhookData.data?.participant\n};\n\n// 2. Componentes\nconst componentsByType = {};\npineconeResults.forEach(item => {\n  const doc = item.json.document || item.json;\n  const metadata = doc.metadata || doc || {};\n  const name = metadata.componentName || metadata.name || 'unknown';\n  const key = metadata.componentKey || metadata.key || metadata.figmaId || 'unknown';\n  const desc = metadata.description || doc.pageContent || '';\n  if (key !== 'unknown' && !componentsByType[name]) {\n    componentsByType[name] = { name, key, description: desc.substring(0, 300) };\n  }\n});\nconst availableComponents = Object.values(componentsByType);\nlet componentsDescription = availableComponents.length > 0 \n    ? availableComponents.map(c => `- **${c.name}** (Key: \"${c.key}\")\\n    Desc: ${c.description}`).join('\\n\\n')\n    : \"No se encontraron componentes específicos.\";\n\nreturn [{\n  json: {\n    userPrompt: userPrompt,\n    componentsDescription: componentsDescription,\n    whatsappMeta: whatsappMeta\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                0
            ],
            "id": "prep-context-v23-ult",
            "name": "Preparar Contexto"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "==Eres un diseñador de interfaces UI/UX de clase mundial.\\n\\n**TAREA:**\\nDiseñar una interfaz en JSON para Figma basada en: {{ $json.userPrompt }}\\n\\n**COMPONENTES DISPONIBLES (Pinecone):**\\n{{ $json.componentsDescription }}\\n\\n---\\n\\n## 🎨 REGLAS DE CREATIVIDAD (IMPORTANTE)\\n1. **VARIEDAD:** No hagas layouts planos. Si piden un dashboard, incluye Navbar, Header Section con una imagen impactante, y luego una Grid Section.\\n2. **IMÁGENES:** Si el usuario pide imágenes (ej: \"Un paisaje nórdico\"), usa un nodo `type: \"IMAGE\"` con `text: \"Paisaje nórdico\"` y `width: 1440` para hacerlo Hero.\\n3. **TEXTOS REALISTAS:** Nada de \"Lorem Ipsum\". Usa datos reales y evocadores.\\n\\n---\\n\\n## 📐 REGLAS TÉCNICAS (ESTRUCTURA OBLIGATORIA)\\n1. **ROOT:** Todo debe estar dentro de un `Desktop 1440` (aunque tú solo devuelves los hijos en un array `children` o UN objeto raíz llamado `Desktop 1440`). DE PREFERENCIA devuelve un objeto raíz `{ type: \"FRAME\", name: \"App Container\", ... children: [ ... ] }`.\\n2. **NAVBAR:** Siempre que sea una web, incluye un `FRAME` llamado \"Navbar Section\" con `layoutMode: \"HORIZONTAL\"`, `primaryAxisAlignItems: \"SPACE_BETWEEN\"`.\\n3. **GRID:** Si hay una lista de items, mételos en un `FRAME` llamado \"Grid Section\".\\n\\n---\\n\\n## 📝 FORMATO JSON (EJEMPLO IDEAL)\\n\\n```json\\n{\\n  \"type\": \"FRAME\",\\n  \"name\": \"App Container\",\\n  \"layoutMode\": \"VERTICAL\",\\n  \"children\": [\\n    {\\n      \"type\": \"FRAME\",\\n      \"name\": \"Navbar Section\",\\n      \"layoutMode\": \"HORIZONTAL\",\\n      \"height\": 80,\\n      \"children\": [...]\\n    },\\n    {\\n      \"type\": \"IMAGE\",\\n      \"text\": \"Hero Image: Tropical Beach\",\\n      \"width\": 1440,\\n      \"height\": 400\\n    },\\n    {\\n      \"type\": \"FRAME\",\\n      \"name\": \"Grid Section\",\\n      \"layoutMode\": \"VERTICAL\",\\n      \"children\": [...]\\n    }\\n  ]\\n}\\n```\\n\\nResponde SOLO con JSON válido.",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                1340,
                0
            ],
            "id": "gemini-designer-v23-ult",
            "name": "Gemini: Diseñar UI (QUALITY)"
        },
        {
            "parameters": {
                "modelName": "models/gemini-1.5-pro-latest",
                "options": {
                    "temperature": 0.8
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                1340,
                240
            ],
            "id": "gemini-model-v23-ult",
            "name": "Google Gemini Pro",
            "credentials": {
                "googlePalmApi": {
                    "id": "A4DmOX9XoJsDMGIX",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// 1. Input completo desde Gemini\nconst data = $input.first().json;\nconst originalInput = $('Preparar Contexto').first().json;\n\n// 2. Extraer texto REAL del LLM.\nlet rawText = '';\n\nif (typeof data.output === 'string' && data.output.trim() !== '') {\n  rawText = data.output;\n} else if (Array.isArray(data.payload) && data.payload[0]?.output) {\n  rawText = data.payload[0].output;\n} else {\n  // Fallback seguro\n  rawText = JSON.stringify(data.output || {}); \n}\n\n// 3. Limpiar fences ```json ``` si existen\nrawText = rawText\n  .replace(/```json/gi, '')\n  .replace(/```/g, '')\n  .trim();\n\n// 4. Parsear a JSON\nlet ui;\ntry {\n  // Buscar delimitadores de JSON si hay texto alrededor\n  const firstOpen = rawText.indexOf('{');\n  const lastClose = rawText.lastIndexOf('}');\n  if (firstOpen !== -1 && lastClose !== -1) {\n    rawText = rawText.substring(firstOpen, lastClose + 1);\n  }\n\n  ui = JSON.parse(rawText);\n} catch (e) {\n  throw new Error('LLM output is not valid JSON: ' + e.message);\n}\n\n// 5. Devolver UI limpia + Metadata\nreturn [{ \n  json: { \n    ...ui, \n    whatsappMeta: originalInput.whatsappMeta \n  } \n}];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1660,
                0
            ],
            "id": "validate-json-v23-ult",
            "name": "Validar JSON (Airbnb Style)"
        },
        {
            "parameters": {
                "jsCode": "// Normalize UI output to match the plugin's expected schema (A-style)\n// COPIADO DE 'HEADLESS GENERATOR - AIRBNB FIXED'\n\nfunction isObj(v) {\n  return v && typeof v === 'object' && !Array.isArray(v);\n}\n\nfunction normalizeWidth(node) {\n  if (!node) return;\n  if (typeof node.width === 'number') {\n    // pragmatic rule: if it's essentially \"full width\", convert to \"FILL\"\n    if (node.width >= 1000) node.width = \"FILL\";\n  }\n}\n\nfunction normalizeTextNode(node) {\n  if (node.type !== \"TEXT_NODE\") return;\n\n  // color -> fontColor\n  if (node.color && !node.fontColor) {\n    node.fontColor = node.color;\n    delete node.color;\n  }\n}\n\nfunction normalizeAlign(node) {\n  if (!isObj(node)) return;\n\n  // crossAxisAlignItems -> counterAxisAlignItems\n  if (node.crossAxisAlignItems && !node.counterAxisAlignItems) {\n    node.counterAxisAlignItems = node.crossAxisAlignItems;\n    delete node.crossAxisAlignItems;\n  }\n}\n\nfunction normalizeComponent(node) {\n  if (node.type !== \"COMPONENT\") return;\n\n  // text -> props.text\n  if (typeof node.text === \"string\") {\n    node.props = node.props && isObj(node.props) ? node.props : {};\n    if (node.props.text === undefined) node.props.text = node.text;\n    delete node.text;\n  }\n\n  // If component has children but no props, create safe props\n  if (Array.isArray(node.children)) {\n    node.props = node.props && isObj(node.props) ? node.props : {};\n\n    const texts = [];\n    for (const ch of node.children) {\n      if (ch && ch.type === \"TEXT_NODE\" && typeof ch.text === \"string\") texts.push(ch.text);\n    }\n    if (texts.length && node.props.content === undefined) {\n      node.props.content = texts.join(\" | \");\n    }\n    delete node.children;\n  }\n}\n\nfunction walk(node) {\n  if (Array.isArray(node)) return node.map(walk);\n  if (!isObj(node)) return node;\n\n  normalizeAlign(node);\n  normalizeWidth(node);\n  normalizeTextNode(node);\n  normalizeComponent(node);\n\n  // recurse into children\n  if (Array.isArray(node.children)) {\n    node.children = node.children.map(walk);\n  }\n  return node;\n}\n\n// Input from \"Validar JSON\"\nlet ui = $input.first().json;\n\n// IMPORTANT: Keep whatsappMeta separate\nconst whatsappMeta = ui.whatsappMeta;\ndelete ui.whatsappMeta; \n\nui = walk(ui);\n\n// Devolvemos el resultado limpio\nreturn [{ json: { ui_normalized: ui, whatsappMeta } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1900,
                0
            ],
            "id": "normalize-ui-v23-ult",
            "name": "Normalize UI to Plugin Schema"
        },
        {
            "parameters": {
                "jsCode": "// Pre-Stringify Final: Convertir a String AQUÍ para evitar fórmulas en DB\n\nconst input = $input.first().json;\nconst ui = input.ui_normalized;\nconst whatsappMeta = input.whatsappMeta;\n\n// STRINGIFY EN JAVASCRIPT PURO\nconst payloadString = JSON.stringify(ui);\n\n// OUTPUT ONLY PAYLOAD for Auto-Mapping safety\nreturn [{ json: { \n  payload: payloadString\n} }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2100,
                0
            ],
            "id": "final-stringify-v23-ult",
            "name": "Final Stringify"
        },
        {
            "parameters": {
                "operation": "create",
                "dataTableId": {
                    "__rl": true,
                    "value": "DItViTlGReZeI1ks",
                    "mode": "list",
                    "cachedResultName": "figma_headless_sessions",
                    "cachedResultUrl": "/projects/4GLzpDdUGYQOiIUs/datatables/DItViTlGReZeI1ks"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "value": {},
                    "matchingColumns": [],
                    "schema": []
                },
                "options": {}
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1,
            "position": [
                2340,
                0
            ],
            "id": "insert-db-safe-v23-ult",
            "name": "Insertar en DB (AUTO-MAP)"
        },
        {
            "parameters": {
                "resource": "chat-api",
                "operation": "read-messages",
                "instanceName": "={{ $('Preparar Contexto').first().json.whatsappMeta.instance }}",
                "remoteJid": "={{ $('Preparar Contexto').first().json.whatsappMeta.remoteJid }}",
                "messageId": "={{ $('Preparar Contexto').first().json.whatsappMeta.messageId }}"
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                2580,
                -100
            ],
            "id": "mark-read-v23-ult",
            "name": "Marcar OK",
            "credentials": {
                "evolutionApi": {
                    "id": "4cfCLQllVGThdDvw",
                    "name": "Evolution account"
                }
            }
        },
        {
            "parameters": {
                "resource": "messages-api",
                "instanceName": "={{ $('Preparar Contexto').first().json.whatsappMeta.instance }}",
                "remoteJid": "={{ $('Preparar Contexto').first().json.whatsappMeta.remoteJid }}",
                "messageText": "✨ *Renderizado Completo*\n\nUI lista en Figma.",
                "options_message": {
                    "delay": 1000
                }
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                2820,
                0
            ],
            "id": "send-whatsapp-v23-ult",
            "name": "Confirmar WhatsApp",
            "credentials": {
                "evolutionApi": {
                    "id": "4cfCLQllVGThdDvw",
                    "name": "Evolution account"
                }
            }
        },
        {
            "parameters": {
                "resource": "integrations-api",
                "operation": "evolution-bot",
                "instanceName": "={{ $('Preparar Contexto').first().json.whatsappMeta.instance }}",
                "resourceForEvolutionBot": "changeStatusEvolutionBot",
                "evolutionBotId": "={{ $('Preparar Contexto').first().json.whatsappMeta.messageId }}",
                "remoteJid": "={{ $('Preparar Contexto').first().json.whatsappMeta.remoteJid }}",
                "status": "closed"
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                3060,
                0
            ],
            "id": "close-instance-v23-ult",
            "name": "Cerrar instancia",
            "credentials": {
                "evolutionApi": {
                    "id": "4cfCLQllVGThdDvw",
                    "name": "Evolution account"
                }
            }
        }
    ],
    "connections": {
        "Webhook WhatsApp": {
            "main": [
                [
                    {
                        "node": "Tipo Mensaje",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Responder WA Rapido",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tipo Mensaje": {
            "main": [
                [
                    {
                        "node": "Set Prompt (Texto)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Prep Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Prompt (Texto)": {
            "main": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prep Audio": {
            "main": [
                [
                    {
                        "node": "Convertir a Archivo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Convertir a Archivo": {
            "main": [
                [
                    {
                        "node": "Whisper Transcribe",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Whisper Transcribe": {
            "main": [
                [
                    {
                        "node": "Set Prompt (Voz)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Prompt (Voz)": {
            "main": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI": {
            "ai_embedding": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Pinecone Search": {
            "main": [
                [
                    {
                        "node": "Preparar Contexto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Contexto": {
            "main": [
                [
                    {
                        "node": "Gemini: Diseñar UI (QUALITY)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Pro": {
            "ai_languageModel": [
                [
                    {
                        "node": "Gemini: Diseñar UI (QUALITY)",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Diseñar UI (QUALITY)": {
            "main": [
                [
                    {
                        "node": "Validar JSON (Airbnb Style)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validar JSON (Airbnb Style)": {
            "main": [
                [
                    {
                        "node": "Normalize UI to Plugin Schema",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize UI to Plugin Schema": {
            "main": [
                [
                    {
                        "node": "Final Stringify",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Final Stringify": {
            "main": [
                [
                    {
                        "node": "Insertar en DB (AUTO-MAP)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insertar en DB (AUTO-MAP)": {
            "main": [
                [
                    {
                        "node": "Marcar OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Marcar OK": {
            "main": [
                [
                    {
                        "node": "Confirmar WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Confirmar WhatsApp": {
            "main": [
                [
                    {
                        "node": "Cerrar instancia",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}