json_backups/Combined_WhatsApp_UI_v40_SAFETY_SHIELD.json
{
    "name": "Auto-Magic v40 (SAFETY SHIELD + CREATIVE)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generar-ui-whatsapp",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -480,
                0
            ],
            "id": "webhook-whatsapp-v40",
            "name": "Webhook WhatsApp",
            "webhookId": "6215c704-c425-46a9-a8a6-338535560a47"
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "OK",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -280,
                -180
            ],
            "id": "respond-wa-v40",
            "name": "Responder WA Rapido"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.data.messageType }}",
                                        "rightValue": "=^(conversation|extendedTextMessage)$",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Texto"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.data.messageType }}",
                                        "rightValue": "audioMessage",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Audio"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                -280,
                0
            ],
            "id": "switch-msg-type-v40",
            "name": "Tipo Mensaje"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "prompt",
                            "value": "={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage.text }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                0,
                -120
            ],
            "id": "set-text-prompt-v40",
            "name": "Set Prompt (Texto)"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "Mensaje de Audio",
                            "value": "={{ $json.body.data.message.base64 }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                0,
                140
            ],
            "id": "prep-audio-v40",
            "name": "Prep Audio"
        },
        {
            "parameters": {
                "operation": "toBinary",
                "sourceProperty": "Mensaje de Audio",
                "options": {
                    "mimeType": "audio/mp3"
                }
            },
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [
                200,
                140
            ],
            "id": "convert-audio-v40",
            "name": "Convertir a Archivo"
        },
        {
            "parameters": {
                "resource": "audio",
                "operation": "transcribe",
                "binaryPropertyName": "=data",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                400,
                140
            ],
            "id": "transcribe-whisper-v40",
            "name": "Whisper Transcribe",
            "credentials": {
                "openAiApi": {
                    "id": "O37TWRmsjgm0WBxD",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "prompt",
                            "value": "={{ $json.text }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                600,
                140
            ],
            "id": "set-voice-prompt-v40",
            "name": "Set Prompt (Voz)"
        },
        {
            "parameters": {
                "mode": "load",
                "pineconeIndex": {
                    "__rl": true,
                    "value": "design-system",
                    "mode": "list"
                },
                "prompt": "={{ $json.prompt }}",
                "topK": 12,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1.3,
            "position": [
                840,
                0
            ],
            "id": "pinecone-search-v40",
            "name": "Pinecone Search",
            "credentials": {
                "pineconeApi": {
                    "id": "p2NsNz1SPkez82z5",
                    "name": "PineconeApi account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.2,
            "position": [
                760,
                280
            ],
            "id": "embeddings-openai-v40",
            "name": "Embeddings OpenAI",
            "credentials": {
                "openAiApi": {
                    "id": "O37TWRmsjgm0WBxD",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Preparar contexto V40 (SAFETY SHIELD)\n// Rescate Prompt + Descripciones Ricas de V35\nconst pineconeResults = $input.all();\nconst webhookData = $('Webhook WhatsApp').first().json.body;\n\nlet userPrompt = \"Dashboard\";\nlet debugSource = \"Default\";\n\ntry {\n  const whisperNode = $('Whisper Transcribe').first();\n  if (whisperNode && whisperNode.json && whisperNode.json.text) {\n      userPrompt = whisperNode.json.text;\n      debugSource = \"Whisper (Audio)\";\n  } else {\n     const msgData = webhookData.data?.message || webhookData.message;\n     if (msgData) {\n        const txt = msgData.conversation || msgData.extendedTextMessage?.text;\n        if (txt) { userPrompt = txt; debugSource = \"Webhook (Text)\"; }\n     }\n  }\n} catch(e) {}\n\n// Componentes con Descripción (Clave para que el LLM elija bien)\nconst componentsByType = {};\npineconeResults.forEach(item => {\n  const doc = item.json.document || item.json;\n  const metadata = doc.metadata || doc || {};\n  const name = metadata.componentName || metadata.name || 'unknown';\n  const key = metadata.componentKey || metadata.key || metadata.figmaId || 'unknown';\n  const desc = metadata.description || doc.pageContent || '';\n  if (key !== 'unknown' && !componentsByType[name]) {\n    componentsByType[name] = { name, key, description: desc.substring(0, 150) };\n  }\n});\nconst availableComponents = Object.values(componentsByType);\nlet componentsList = availableComponents.length > 0 \n    ? availableComponents.map(c => `- **${c.name}**\n   Key: \"${c.key}\"\n   Info: ${c.description}`).join('\\n\\n')\n    : \"(Usa componentes genéricos)\";\n\nconst whatsappMeta = {\n  instance: webhookData.instance || webhookData.body?.instance,\n  remoteJid: webhookData.data?.key?.remoteJid || webhookData.key?.remoteJid,\n  messageId: webhookData.data?.key?.id || webhookData.key?.id,\n  sender: webhookData.sender || webhookData.data?.participant\n};\n\nreturn [{\n  json: {\n    userPrompt: userPrompt,\n    debugSource: debugSource,\n    componentsList: componentsList,\n    whatsappMeta: whatsappMeta\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                0
            ],
            "id": "prep-context-v40",
            "name": "Preparar Contexto"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "==Eres un experto en diseño UI para Figma.\\n\\n**PROMPT USUARIO:**\\n\"{{ $json.userPrompt }}\"\\n\\n**COMPONENTES DISPONIBLES:**\\n{{ $json.componentsList }}\\n\\n---\\n\\n## 🧱 ESTRUCTURA STYLED & EXPLICIT\\nDefine SIEMPRE el `layoutMode`. Si lo omites, el sistema asume VERTICAL y rompe los Navbars.\\n\\n```json\\n{\\n  \"type\": \"FRAME\", \\n  \"name\": \"Desktop 1440\",\\n  \"layoutMode\": \"VERTICAL\",\\n  \"children\": [\\n     // 1. NAVBAR - IMPORTANTE: layoutMode HORIZONTAL\\n     { \\n       \"type\": \"FRAME\", \\n       \"name\": \"Navbar Section\", \\n       \"layoutMode\": \"HORIZONTAL\", \\n       \"primaryAxisAlignItems\": \"SPACE_BETWEEN\",\\n       \"width\": 1440,\\n       \"children\": [...] \\n     },\\n     \\n     // 2. HERO IMAGE (Si aplica)\\n     { \"type\": \"IMAGE\", \"text\": \"Hero Image...\", \"width\": 1440, \"height\": 400 },\\n     \\n     // 3. GRID SECTION (Lista PLANA de componentes)\\n     { \\n       \"type\": \"FRAME\", \\n       \"name\": \"Grid Section\", \\n       \"layoutMode\": \"VERTICAL\", \\n       \"width\": 1200,\\n       \"children\": [ ... ] \\n     }\\n  ]\\n}\\n```\\n\\n## ⚠️ REGLAS CRÍTICAS\\n1. **LAYOUT MODE:** Nunca olvides poner `\"layoutMode\": \"HORIZONTAL\"` para filas, navbars o headers.\\n2. **GRID:** Pon los componentes directamente en \"Children\" de \"Grid Section\".\\n3. **COMPONENTES:** Usa `{ \"type\": \"COMPONENT\", \"key\": \"...\", \"text\": \"Titulo\" }`.\\n\\nResponde SOLO con el JSON.",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                1340,
                0
            ],
            "id": "gemini-designer-v40",
            "name": "Gemini: Diseñar UI (SAFETY)"
        },
        {
            "parameters": {
                "modelName": "models/gemini-1.5-pro-latest",
                "options": {
                    "temperature": 0.7
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                1340,
                240
            ],
            "id": "gemini-model-v40",
            "name": "Google Gemini Pro",
            "credentials": {
                "googlePalmApi": {
                    "id": "A4DmOX9XoJsDMGIX",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// VALIDAR JSON + LIMPIEZA MÍNIMA\nconst data = $input.first().json;\nlet rawText = '';\n\nif (typeof data.output === 'string') rawText = data.output;\nelse if (data.payload?.[0]?.output) rawText = data.payload[0].output;\nelse rawText = JSON.stringify(data.output || {});\n\nrawText = rawText.replace(/```json/gi, '').replace(/```/g, '').trim();\n\nlet ui;\ntry {\n  const firstOpen = rawText.indexOf('{');\n  const lastClose = rawText.lastIndexOf('}');\n  if (firstOpen !== -1 && lastClose !== -1) {\n    rawText = rawText.substring(firstOpen, lastClose + 1);\n  }\n  ui = JSON.parse(rawText);\n} catch (e) {\n  throw new Error('Invalid JSON from LLM');\n}\n\n// Asegurar Root\nif (!ui.name) ui.name = \"Desktop 1440\";\nif (!ui.type) ui.type = \"FRAME\";\n\nreturn [{ json: ui }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1660,
                0
            ],
            "id": "validate-json-v40",
            "name": "Validar JSON (Clean)"
        },
        {
            "parameters": {
                "jsCode": "// Normalize UI output (SAFETY SHIELD + AIRBNB LOGIC)\n// Combines V36 (Strict Comp Size) with V39 (Airbnb Logic)\n\nfunction isObj(v) {\n  return v && typeof v === 'object' && !Array.isArray(v);\n}\n\nfunction normalizeWidth(node) {\n  if (!node) return;\n  if (typeof node.width === 'number') {\n    // pragmatic rule: if it's essentially \"full width\", convert to \"FILL\"\n    if (node.width >= 1000) node.width = \"FILL\";\n  }\n  // If width is something else, leave it\n}\n\nfunction normalizeTextNode(node) {\n  if (node.type !== \"TEXT_NODE\") return;\n\n  // color -> fontColor\n  if (node.color && !node.fontColor) {\n    node.fontColor = node.color;\n    delete node.color;\n  }\n}\n\nfunction normalizeAlign(node) {\n  if (!isObj(node)) return;\n\n  // crossAxisAlignItems -> counterAxisAlignItems\n  if (node.crossAxisAlignItems && !node.counterAxisAlignItems) {\n    node.counterAxisAlignItems = node.crossAxisAlignItems;\n    delete node.crossAxisAlignItems;\n  }\n}\n\nfunction normalizeComponent(node) {\n  if (node.type !== \"COMPONENT\") return;\n\n  // === SAFETY SHIELD (V36) ===\n  // Borrar tamaños forzados en componentes para evitar que se escachen.\n  delete node.width;\n  delete node.height;\n  delete node.layoutMode;\n  // ==========================\n  \n  // Ensure string just in case\n  if (node.text && typeof node.text !== 'string') {\n     node.text = String(node.text);\n  }\n\n  // remove children to match A-style strictly\n  // This fixes cases where LLM hallucinates content inside a component\n  if (Array.isArray(node.children)) {\n    delete node.children;\n  }\n}\n\nfunction walk(node) {\n  if (Array.isArray(node)) return node.map(walk);\n  if (!isObj(node)) return node;\n\n  normalizeAlign(node);\n  normalizeWidth(node);\n  normalizeTextNode(node);\n  normalizeComponent(node);\n\n  // recurse into children\n  if (Array.isArray(node.children)) {\n    node.children = node.children.map(walk);\n  }\n  return node;\n}\n\nlet ui = $input.first().json;\n\nif (Array.isArray(ui)) {\n  ui = ui[0];\n}\n\nui = walk(ui);\n\nreturn [{ json: ui }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1900,
                0
            ],
            "id": "normalize-ui-v40",
            "name": "Normalize UI (SAFETY SHIELD)"
        },
        {
            "parameters": {
                "dataTableId": {
                    "__rl": true,
                    "value": "DItViTlGReZeI1ks",
                    "mode": "list",
                    "cachedResultName": "figma_headless_sessions",
                    "cachedResultUrl": "/projects/4GLzpDdUGYQOiIUs/datatables/DItViTlGReZeI1ks"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "payload": "={{ JSON.stringify($json) }}"
                    },
                    "matchingColumns": [
                        "payload"
                    ],
                    "schema": [
                        {
                            "id": "payload",
                            "displayName": "payload",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1,
            "position": [
                2140,
                0
            ],
            "id": "insert-db-classic-v40",
            "name": "Insertar en DB (CLASSIC)"
        },
        {
            "parameters": {
                "resource": "chat-api",
                "operation": "read-messages",
                "instanceName": "={{ $('Preparar Contexto').first().json.whatsappMeta.instance }}",
                "remoteJid": "={{ $('Preparar Contexto').first().json.whatsappMeta.remoteJid }}",
                "messageId": "={{ $('Preparar Contexto').first().json.whatsappMeta.messageId }}"
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                2400,
                -100
            ],
            "id": "mark-read-v40",
            "name": "Marcar OK",
            "credentials": {
                "evolutionApi": {
                    "id": "4cfCLQllVGThdDvw",
                    "name": "Evolution account"
                }
            }
        },
        {
            "parameters": {
                "resource": "messages-api",
                "instanceName": "={{ $('Preparar Contexto').first().json.whatsappMeta.instance }}",
                "remoteJid": "={{ $('Preparar Contexto').first().json.whatsappMeta.remoteJid }}",
                "messageText": "✨ *UI Shielded (Temp 0.7)*\n\n- Protección de componentes pequeños activada.\n- Estilos tipo Airbnb + Creatividad alta.\n\nRevisa Figma.",
                "options_message": {
                    "delay": 1000
                }
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                2640,
                0
            ],
            "id": "send-whatsapp-v40",
            "name": "Confirmar WhatsApp",
            "credentials": {
                "evolutionApi": {
                    "id": "4cfCLQllVGThdDvw",
                    "name": "Evolution account"
                }
            }
        },
        {
            "parameters": {
                "resource": "integrations-api",
                "operation": "evolution-bot",
                "instanceName": "={{ $('Preparar Contexto').first().json.whatsappMeta.instance }}",
                "resourceForEvolutionBot": "changeStatusEvolutionBot",
                "evolutionBotId": "={{ $('Preparar Contexto').first().json.whatsappMeta.messageId }}",
                "remoteJid": "={{ $('Preparar Contexto').first().json.whatsappMeta.remoteJid }}",
                "status": "closed"
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                2880,
                0
            ],
            "id": "close-instance-v40",
            "name": "Cerrar instancia",
            "credentials": {
                "evolutionApi": {
                    "id": "4cfCLQllVGThdDvw",
                    "name": "Evolution account"
                }
            }
        }
    ],
    "connections": {
        "Webhook WhatsApp": {
            "main": [
                [
                    {
                        "node": "Tipo Mensaje",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Responder WA Rapido",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tipo Mensaje": {
            "main": [
                [
                    {
                        "node": "Set Prompt (Texto)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Prep Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Prompt (Texto)": {
            "main": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prep Audio": {
            "main": [
                [
                    {
                        "node": "Convertir a Archivo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Convertir a Archivo": {
            "main": [
                [
                    {
                        "node": "Whisper Transcribe",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Whisper Transcribe": {
            "main": [
                [
                    {
                        "node": "Set Prompt (Voz)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Prompt (Voz)": {
            "main": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI": {
            "ai_embedding": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Pinecone Search": {
            "main": [
                [
                    {
                        "node": "Preparar Contexto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Contexto": {
            "main": [
                [
                    {
                        "node": "Gemini: Diseñar UI (SAFETY)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Pro": {
            "ai_languageModel": [
                [
                    {
                        "node": "Gemini: Diseñar UI (SAFETY)",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Diseñar UI (SAFETY)": {
            "main": [
                [
                    {
                        "node": "Validar JSON (Clean)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validar JSON (Clean)": {
            "main": [
                [
                    {
                        "node": "Normalize UI (SAFETY SHIELD)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize UI (SAFETY SHIELD)": {
            "main": [
                [
                    {
                        "node": "Insertar en DB (CLASSIC)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insertar en DB (CLASSIC)": {
            "main": [
                [
                    {
                        "node": "Marcar OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Marcar OK": {
            "main": [
                [
                    {
                        "node": "Confirmar WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Confirmar WhatsApp": {
            "main": [
                [
                    {
                        "node": "Cerrar instancia",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}