json_backups/Combined_WhatsApp_UI_v29_AUTO_MAP.json
{
    "name": "Auto-Magic v29 (AUTO-MAP FIX)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generar-ui-whatsapp",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -480,
                0
            ],
            "id": "webhook-whatsapp-v29",
            "name": "Webhook WhatsApp",
            "webhookId": "6215c704-c425-46a9-a8a6-338535560a47"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generar-ui-airbnb",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -480,
                300
            ],
            "id": "webhook-plugin-v29",
            "name": "Webhook Plugin (Direct)"
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "OK",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -260,
                -160
            ],
            "id": "respond-wa-immediate",
            "name": "Responder WA Rapido"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "prompt",
                            "value": "={{ $json.body.prompt }}",
                            "type": "string"
                        },
                        {
                            "name": "source",
                            "value": "plugin",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -200,
                300
            ],
            "id": "set-prompt-plugin-v29",
            "name": "Set Prompt (Plugin)"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.data.messageType }}",
                                        "rightValue": "=^(conversation|extendedTextMessage)$",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Texto"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.data.messageType }}",
                                        "rightValue": "audioMessage",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Audio"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                -260,
                0
            ],
            "id": "switch-msg-type-v29",
            "name": "Tipo Mensaje"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "prompt",
                            "value": "={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage.text }}",
                            "type": "string"
                        },
                        {
                            "name": "source",
                            "value": "whatsapp",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                0,
                -120
            ],
            "id": "set-text-prompt-v29",
            "name": "Set Prompt (Texto)"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "Mensaje de Audio",
                            "value": "={{ $json.body.data.message.base64 }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                0,
                140
            ],
            "id": "prep-audio-v29",
            "name": "Prep Audio"
        },
        {
            "parameters": {
                "operation": "toBinary",
                "sourceProperty": "Mensaje de Audio",
                "options": {
                    "mimeType": "audio/mp3"
                }
            },
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [
                200,
                140
            ],
            "id": "convert-audio-v29",
            "name": "Convertir a Archivo"
        },
        {
            "parameters": {
                "resource": "audio",
                "operation": "transcribe",
                "binaryPropertyName": "=data",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                400,
                140
            ],
            "id": "transcribe-whisper-v29",
            "name": "Whisper Transcribe",
            "credentials": {
                "openAiApi": {
                    "id": "O37TWRmsjgm0WBxD",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "prompt",
                            "value": "={{ $json.text }}",
                            "type": "string"
                        },
                        {
                            "name": "source",
                            "value": "whatsapp-audio",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                600,
                140
            ],
            "id": "set-voice-prompt-v29",
            "name": "Set Prompt (Voz)"
        },
        {
            "parameters": {
                "mode": "load",
                "pineconeIndex": {
                    "__rl": true,
                    "value": "design-system",
                    "mode": "list"
                },
                "prompt": "={{ $json.prompt }}",
                "topK": 12,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1.3,
            "position": [
                840,
                0
            ],
            "id": "pinecone-search-v29",
            "name": "Pinecone Search",
            "credentials": {
                "pineconeApi": {
                    "id": "p2NsNz1SPkez82z5",
                    "name": "PineconeApi account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.2,
            "position": [
                760,
                280
            ],
            "id": "embeddings-openai-v29",
            "name": "Embeddings OpenAI",
            "credentials": {
                "openAiApi": {
                    "id": "O37TWRmsjgm0WBxD",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// HYBRID CONTEXT: Support WA and Plugin\n\nconst pineconeResults = $input.all();\n// Intentamos buscar el webhook original\nconst waWebhookNode = $('Webhook WhatsApp').first();\nconst originalWebhook = waWebhookNode ? waWebhookNode.json.body : {};\n\n// 1. RECUPERAR EL PROMPT PERDIDO (Desde cualquiera de las 3 fuentes)\nlet realUserPrompt = \"\";\nlet source = \"unknown\";\n\n// A. Plugin Directo\ntry {\n  const pNode = $('Set Prompt (Plugin)').first();\n  if (pNode && pNode.json.prompt) { \n      realUserPrompt = pNode.json.prompt;\n      source = \"plugin\";\n  }\n} catch(e) {}\n\n// B. WhatsApp Texto\ntry {\n  const tNode = $('Set Prompt (Texto)').first();\n  if (tNode && tNode.json.prompt) {\n      realUserPrompt = tNode.json.prompt;\n      source = \"whatsapp\";\n  }\n} catch(e) {}\n\n// C. WhatsApp Audio\ntry {\n  const vNode = $('Set Prompt (Voz)').first();\n  if (vNode && vNode.json.prompt) {\n      realUserPrompt = vNode.json.prompt;\n      source = \"whatsapp-audio\";\n  }\n} catch(e) {}\n\nif (!realUserPrompt) realUserPrompt = \"Dashboard moderno\";\n\n// 2. Extraer Metadata SOLO si es WhatsApp\nconst whatsappMeta = {};\nif (source.includes(\"whatsapp\")) {\n    whatsappMeta.instance = originalWebhook.instance || originalWebhook.body?.instance;\n    whatsappMeta.remoteJid = originalWebhook.data?.key?.remoteJid || originalWebhook.key?.remoteJid;\n    whatsappMeta.messageId = originalWebhook.data?.key?.id || originalWebhook.key?.id;\n    whatsappMeta.sender = originalWebhook.sender || originalWebhook.data?.participant;\n}\n\n// 3. Formatear Componentes Pinecone\nconst componentsByType = {};\npineconeResults.forEach(item => {\n  const doc = item.json.document || item.json;\n  const metadata = doc.metadata || doc || {};\n  const name = metadata.componentName || metadata.name || 'Component';\n  const key = metadata.componentKey || metadata.key || metadata.figma_key || 'unknown';\n  const desc = metadata.description || doc.pageContent || '';\n  \n  if (key !== 'unknown' && !componentsByType[name]) {\n    componentsByType[name] = { name, key, description: desc.substring(0, 200) };\n  }\n});\n\nconst availableComponents = Object.values(componentsByType);\nlet componentsDescription = availableComponents.length > 0 \n    ? availableComponents.map(c => `- NAME: \"${c.name}\" | KEY: \"${c.key}\" | DESC: ${c.description}`).join('\\n')\n    : \"No specific components found.\";\n\nreturn [{\n  json: {\n    userPrompt: realUserPrompt,\n    source: source,\n    componentsDescription: componentsDescription,\n    whatsappMeta: whatsappMeta\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                0
            ],
            "id": "prep-context-v29",
            "name": "Preparar Contexto Híbrido"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "==Eres un Lead UI Designer. Tu objetivo es generar un JSON para Figma.\n\n**INPUT DEL USUARIO:**\n\"{{ $json.userPrompt }}\"\n\n**LIBRERÍA DE COMPONENTES DISPONIBLES (Pinecone):**\n{{ $json.componentsDescription }}\n\n---\n\n## 🚨 REGLAS OBLIGATORIAS (Estrictas)\n\n1.  **USAR COMPONENTES REALES:** Si el input pide \"tarjetas\", \"botones\" o \"inputs\", DEBES usar los componentes de la lista anterior USANDO SU KEY EXACTA.\n    -   Ejemplo: `{ \"type\": \"COMPONENT\", \"key\": \"b323...\", \"name\": \"Card\", \"props\": { \"text\": \"Título\" } }`.\n\n2.  **ESTRUCTURA VISUAL RICA:**\n    -   Crea un **Navbar** superior.\n    -   Crea una **Hero Section** con imagen grande (`type: \"IMAGE\"`, `width`: 1440, `height`: 500).\n    -   Crea una **Grid** de contenidos debajo.\n\n3.  **DATOS REALISTAS:** Rellena los textos con información coherente.\n\n---\n\n## 📝 FORMATO DE RESPUESTA\nDevuelve SOLO un objeto JSON válido.\n\n```json\n{\n  \"type\": \"FRAME\",\n  \"name\": \"App Container\",\n  \"layoutMode\": \"VERTICAL\",\n  \"children\": [\n    ... Navbar, Hero, Grid ...\n  ]\n}\n```",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                1340,
                0
            ],
            "id": "gemini-designer-v29",
            "name": "Gemini: Diseñar UI (HYBRID)"
        },
        {
            "parameters": {
                "modelName": "models/gemini-1.5-pro-latest",
                "options": {
                    "temperature": 0.7
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                1340,
                240
            ],
            "id": "gemini-model-v29",
            "name": "Google Gemini Pro",
            "credentials": {
                "googlePalmApi": {
                    "id": "A4DmOX9XoJsDMGIX",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// 1. Input completo desde Gemini\nconst data = $input.first().json;\nconst originalInput = $('Preparar Contexto Híbrido').first().json;\n\n// 2. Extraer texto REAL del LLM.\nlet rawText = '';\nif (typeof data.output === 'string' && data.output.trim() !== '') {\n  rawText = data.output;\n} else if (Array.isArray(data.payload) && data.payload[0]?.output) {\n  rawText = data.payload[0].output;\n} else {\n  rawText = JSON.stringify(data.output || {}); \n}\n\n// 3. Limpiar fences\nrawText = rawText.replace(/```json/gi, '').replace(/```/g, '').trim();\n\n// 4. Parsear a JSON\nlet ui;\ntry {\n  const firstOpen = rawText.indexOf('{');\n  const lastClose = rawText.lastIndexOf('}');\n  if (firstOpen !== -1 && lastClose !== -1) {\n    rawText = rawText.substring(firstOpen, lastClose + 1);\n  }\n  ui = JSON.parse(rawText);\n} catch (e) {\n  throw new Error('LLM output is not valid JSON: ' + e.message);\n}\n\n// 5. Devolver UI limpia + Metadata + Source\nreturn [{ \n  json: { \n    ...ui, \n    whatsappMeta: originalInput.whatsappMeta,\n    requestSource: originalInput.source\n  } \n}];\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1660,
                0
            ],
            "id": "validate-json-v29",
            "name": "Validar JSON"
        },
        {
            "parameters": {
                "jsCode": "// Normalización estándar\nfunction walk(node) {\n  // (Misma lógica simplificada de A-style)\n  if (Array.isArray(node)) return node.map(walk);\n  if (!node || typeof node !== 'object') return node;\n  \n  if (node.width >= 1200) node.width = \"FILL\";\n  if (node.color && !node.fontColor) { node.fontColor = node.color; delete node.color; }\n  \n  // Component prop Fix\n  if (node.type === \"COMPONENT\" && typeof node.text === \"string\") {\n      node.props = node.props || {};\n      if (!node.props.text) node.props.text = node.text;\n      delete node.text;\n  }\n\n  if (node.children) node.children = node.children.map(walk);\n  return node;\n}\n\nlet input = $input.first().json;\nlet ui = input;\n\n// Preserve Meta\nconst whatsappMeta = input.whatsappMeta;\nconst requestSource = input.requestSource;\n\ndelete ui.whatsappMeta;\ndelete ui.requestSource;\n\nui = walk(ui);\n\nreturn [{ json: { ui_normalized: ui, whatsappMeta, requestSource } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1900,
                0
            ],
            "id": "normalize-ui-v29",
            "name": "Normalizar UI"
        },
        {
            "parameters": {
                "jsCode": "// Stringify para DB\nconst input = $input.first().json;\nconst payloadString = JSON.stringify(input.ui_normalized);\n\nreturn [{ json: { \n  payload: payloadString, \n  ui_object: input.ui_normalized, // Mantenemos el objeto para responder al webhook directo\n  whatsappMeta: input.whatsappMeta,\n  requestSource: input.requestSource\n} }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2100,
                0
            ],
            "id": "final-stringify-v29",
            "name": "Final Stringify"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "payload",
                            "value": "={{ $json.payload }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2360,
                300
            ],
            "id": "prep-db-v29",
            "name": "Prep DB (Clean)"
        },
        {
            "parameters": {
                "operation": "create",
                "dataTableId": {
                    "__rl": true,
                    "value": "DItViTlGReZeI1ks",
                    "mode": "list",
                    "cachedResultName": "figma_headless_sessions",
                    "cachedResultUrl": "/projects/4GLzpDdUGYQOiIUs/datatables/DItViTlGReZeI1ks"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "value": {},
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "payload",
                            "displayName": "payload",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1,
            "position": [
                2540,
                300
            ],
            "id": "insert-db-auto-v29",
            "name": "Insertar en DB (AUTO-MAP)"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "01b899a6-7287-43f1-b4f0-bc370ce8af11",
                            "leftValue": "={{ $json.requestSource }}",
                            "rightValue": "plugin",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                2360,
                0
            ],
            "id": "check-source-v29",
            "name": "Es Plugin?"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json.ui_object }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                2820,
                200
            ],
            "id": "respond-plugin-direct",
            "name": "Responder a Plugin"
        },
        {
            "parameters": {
                "resource": "chat-api",
                "operation": "read-messages",
                "instanceName": "={{ $('Preparar Contexto Híbrido').first().json.whatsappMeta.instance }}",
                "remoteJid": "={{ $('Preparar Contexto Híbrido').first().json.whatsappMeta.remoteJid }}",
                "messageId": "={{ $('Preparar Contexto Híbrido').first().json.whatsappMeta.messageId }}"
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                2820,
                -200
            ],
            "id": "mark-read-v29",
            "name": "Marcar OK",
            "credentials": {
                "evolutionApi": {
                    "id": "4cfCLQllVGThdDvw",
                    "name": "Evolution account"
                }
            }
        },
        {
            "parameters": {
                "resource": "messages-api",
                "instanceName": "={{ $('Preparar Contexto Híbrido').first().json.whatsappMeta.instance }}",
                "remoteJid": "={{ $('Preparar Contexto Híbrido').first().json.whatsappMeta.remoteJid }}",
                "messageText": "✨ *Renderizado Completo*\n\nSe han utilizado los componentes de Pinecone y el layout avanzado.",
                "options_message": {
                    "delay": 1000
                }
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                3060,
                -200
            ],
            "id": "send-whatsapp-v29",
            "name": "Confirmar WhatsApp",
            "credentials": {
                "evolutionApi": {
                    "id": "4cfCLQllVGThdDvw",
                    "name": "Evolution account"
                }
            }
        },
        {
            "parameters": {
                "resource": "integrations-api",
                "operation": "evolution-bot",
                "instanceName": "={{ $('Preparar Contexto Híbrido').first().json.whatsappMeta.instance }}",
                "resourceForEvolutionBot": "changeStatusEvolutionBot",
                "evolutionBotId": "={{ $('Preparar Contexto Híbrido').first().json.whatsappMeta.messageId }}",
                "remoteJid": "={{ $('Preparar Contexto Híbrido').first().json.whatsappMeta.remoteJid }}",
                "status": "closed"
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                3300,
                -200
            ],
            "id": "close-instance-v29",
            "name": "Cerrar instancia",
            "credentials": {
                "evolutionApi": {
                    "id": "4cfCLQllVGThdDvw",
                    "name": "Evolution account"
                }
            }
        }
    ],
    "connections": {
        "Webhook WhatsApp": {
            "main": [
                [
                    {
                        "node": "Tipo Mensaje",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Responder WA Rapido",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Plugin (Direct)": {
            "main": [
                [
                    {
                        "node": "Set Prompt (Plugin)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Prompt (Plugin)": {
            "main": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tipo Mensaje": {
            "main": [
                [
                    {
                        "node": "Set Prompt (Texto)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Prep Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Prompt (Texto)": {
            "main": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prep Audio": {
            "main": [
                [
                    {
                        "node": "Convertir a Archivo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Convertir a Archivo": {
            "main": [
                [
                    {
                        "node": "Whisper Transcribe",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Whisper Transcribe": {
            "main": [
                [
                    {
                        "node": "Set Prompt (Voz)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Prompt (Voz)": {
            "main": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI": {
            "ai_embedding": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Pinecone Search": {
            "main": [
                [
                    {
                        "node": "Preparar Contexto Híbrido",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Contexto Híbrido": {
            "main": [
                [
                    {
                        "node": "Gemini: Diseñar UI (HYBRID)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Pro": {
            "ai_languageModel": [
                [
                    {
                        "node": "Gemini: Diseñar UI (HYBRID)",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Diseñar UI (HYBRID)": {
            "main": [
                [
                    {
                        "node": "Validar JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validar JSON": {
            "main": [
                [
                    {
                        "node": "Normalizar UI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalizar UI": {
            "main": [
                [
                    {
                        "node": "Final Stringify",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Final Stringify": {
            "main": [
                [
                    {
                        "node": "Prep DB (Clean)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Es Plugin?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prep DB (Clean)": {
            "main": [
                [
                    {
                        "node": "Insertar en DB (AUTO-MAP)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Es Plugin?": {
            "main": [
                [
                    {
                        "node": "Responder a Plugin",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Marcar OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Marcar OK": {
            "main": [
                [
                    {
                        "node": "Confirmar WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Confirmar WhatsApp": {
            "main": [
                [
                    {
                        "node": "Cerrar instancia",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}