json_backups/Combined_WhatsApp_UI_v30_BACK_TO_BASICS.json
{
    "name": "Auto-Magic v30 (BACK TO BASICS)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generar-ui-whatsapp",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -480,
                0
            ],
            "id": "webhook-whatsapp-v30",
            "name": "Webhook WhatsApp",
            "webhookId": "6215c704-c425-46a9-a8a6-338535560a47"
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "OK",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -260,
                -160
            ],
            "id": "respond-wa-immediate",
            "name": "Responder WA Rapido"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.data.messageType }}",
                                        "rightValue": "=^(conversation|extendedTextMessage)$",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Texto"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.data.messageType }}",
                                        "rightValue": "audioMessage",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Audio"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                -260,
                0
            ],
            "id": "switch-msg-type-v30",
            "name": "Tipo Mensaje"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "prompt",
                            "value": "={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage.text }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                0,
                -120
            ],
            "id": "set-text-prompt-v30",
            "name": "Set Prompt (Texto)"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "Mensaje de Audio",
                            "value": "={{ $json.body.data.message.base64 }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                0,
                140
            ],
            "id": "prep-audio-v30",
            "name": "Prep Audio"
        },
        {
            "parameters": {
                "operation": "toBinary",
                "sourceProperty": "Mensaje de Audio",
                "options": {
                    "mimeType": "audio/mp3"
                }
            },
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [
                200,
                140
            ],
            "id": "convert-audio-v30",
            "name": "Convertir a Archivo"
        },
        {
            "parameters": {
                "resource": "audio",
                "operation": "transcribe",
                "binaryPropertyName": "=data",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                400,
                140
            ],
            "id": "transcribe-whisper-v30",
            "name": "Whisper Transcribe",
            "credentials": {
                "openAiApi": {
                    "id": "O37TWRmsjgm0WBxD",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "prompt",
                            "value": "={{ $json.text }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                600,
                140
            ],
            "id": "set-voice-prompt-v30",
            "name": "Set Prompt (Voz)"
        },
        {
            "parameters": {
                "mode": "load",
                "pineconeIndex": {
                    "__rl": true,
                    "value": "design-system",
                    "mode": "list"
                },
                "prompt": "={{ $json.prompt }}",
                "topK": 12,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1.3,
            "position": [
                840,
                0
            ],
            "id": "pinecone-search-v30",
            "name": "Pinecone Search",
            "credentials": {
                "pineconeApi": {
                    "id": "p2NsNz1SPkez82z5",
                    "name": "PineconeApi account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.2,
            "position": [
                760,
                280
            ],
            "id": "embeddings-openai-v30",
            "name": "Embeddings OpenAI",
            "credentials": {
                "openAiApi": {
                    "id": "O37TWRmsjgm0WBxD",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// BACK TO BASICS CONTEXT\n\nconst pineconeResults = $input.all();\nconst originalWebhook = $('Webhook WhatsApp').first().json.body;\n\n// 1. RECUPERAR PROMPT\nlet realUserPrompt = \"\";\ntry {\n  const textNode = $('Set Prompt (Texto)').first();\n  if (textNode && textNode.json.prompt) realUserPrompt = textNode.json.prompt;\n} catch(e) {}\ntry {\n  const voiceNode = $('Set Prompt (Voz)').first();\n  if (voiceNode && voiceNode.json.prompt) realUserPrompt = voiceNode.json.prompt;\n} catch(e) {}\nif (!realUserPrompt) realUserPrompt = \"Dashboard moderno\";\n\n// 2. Metadata (Robust)\nconst whatsappMeta = {\n  instance: originalWebhook.instance || originalWebhook.body?.instance,\n  remoteJid: originalWebhook.data?.key?.remoteJid || originalWebhook.key?.remoteJid,\n  messageId: originalWebhook.data?.key?.id || originalWebhook.key?.id,\n  sender: originalWebhook.sender || originalWebhook.data?.participant\n};\n\n// 3. Components\nconst componentsByType = {};\npineconeResults.forEach(item => {\n  const doc = item.json.document || item.json;\n  const metadata = doc.metadata || doc || {};\n  const name = metadata.componentName || metadata.name || 'Component';\n  const key = metadata.componentKey || metadata.key || metadata.figma_key || 'unknown';\n  const desc = metadata.description || doc.pageContent || '';\n  if (key !== 'unknown' && !componentsByType[name]) {\n    componentsByType[name] = { name, key, description: desc.substring(0, 200) };\n  }\n});\nconst availableComponents = Object.values(componentsByType);\nlet componentsDescription = availableComponents.length > 0 \n    ? availableComponents.map(c => `- NAME: \"${c.name}\" | KEY: \"${c.key}\" | DESC: ${c.description}`).join('\\n')\n    : \"No specific components found.\";\n\nreturn [{\n  json: {\n    userPrompt: realUserPrompt,\n    componentsDescription,\n    whatsappMeta\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                0
            ],
            "id": "prep-context-v30",
            "name": "Preparar Contexto (BASICS)"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "==Eres un Lead UI Designer. Tu objetivo es generar un JSON para Figma.\n\n**INPUT DEL USUARIO:**\n\"{{ $json.userPrompt }}\"\n\n**LIBRERÍA DE COMPONENTES DISPONIBLES (Pinecone):**\n{{ $json.componentsDescription }}\n\n---\n\n## 🚨 REGLAS OBLIGATORIAS (Estrictas)\n\n1.  **USAR COMPONENTES REALES:** Si el input pide \"tarjetas\", \"botones\" o \"inputs\", DEBES usar los componentes de la lista anterior USANDO SU KEY EXACTA.\n    -   Ejemplo: `{ \"type\": \"COMPONENT\", \"key\": \"b323...\", \"name\": \"Card\", \"props\": { \"text\": \"Título\" } }`.\n\n2.  **ESTRUCTURA VISUAL RICA:**\n    -   Crea un **Navbar** superior.\n    -   Crea una **Hero Section** con imagen grande (`type: \"IMAGE\"`, `width`: 1440, `height`: 500).\n    -   Crea una **Grid** de contenidos debajo.\n    -   No hagas layouts vacíos.\n\n3.  **DATOS REALISTAS:** Rellena los textos con información coherente.\n\n---\n\n## 📝 FORMATO DE RESPUESTA\nDevuelve SOLO un objeto JSON.\n\n```json\n{\n  \"type\": \"FRAME\",\n  \"name\": \"App Container\",\n  \"layoutMode\": \"VERTICAL\",\n  \"children\": [\n    ... Navbar, Hero, Grid ...\n  ]\n}\n```",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                1340,
                0
            ],
            "id": "gemini-designer-v30",
            "name": "Gemini: Diseñar UI (QUALITY)"
        },
        {
            "parameters": {
                "modelName": "models/gemini-1.5-pro-latest",
                "options": {
                    "temperature": 0.7
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                1340,
                240
            ],
            "id": "gemini-model-v30",
            "name": "Google Gemini Pro",
            "credentials": {
                "googlePalmApi": {
                    "id": "A4DmOX9XoJsDMGIX",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// VALIDACION STANDARD\nconst data = $input.first().json;\nlet rawText = '';\nif (typeof data.output === 'string') rawText = data.output;\nelse if (Array.isArray(data.payload)) rawText = data.payload[0]?.output || '';\nelse rawText = JSON.stringify(data.output || {});\n\nrawText = rawText.replace(/```json/gi, '').replace(/```/g, '').trim();\n\nlet ui;\ntry {\n  const firstOpen = rawText.indexOf('{');\n  const lastClose = rawText.lastIndexOf('}');\n  if (firstOpen !== -1 && lastClose !== -1) rawText = rawText.substring(firstOpen, lastClose + 1);\n  ui = JSON.parse(rawText);\n} catch (e) {\n  throw new Error('LLM output is not valid JSON: ' + e.message);\n}\n\nreturn [{ json: ui }]; // SOLO UI, Metadata se recupera por referencia"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1660,
                0
            ],
            "id": "validate-json-v30",
            "name": "Validar JSON"
        },
        {
            "parameters": {
                "jsCode": "// NORMALIZACION AIRBNB STYLE\nfunction walk(node) {\n  if (Array.isArray(node)) return node.map(walk);\n  if (!node || typeof node !== 'object') return node;\n  \n  if (node.width >= 1200) node.width = \"FILL\";\n  if (node.color && !node.fontColor) { node.fontColor = node.color; delete node.color; }\n  if (node.type === \"COMPONENT\" && typeof node.text === \"string\") {\n      node.props = node.props || {};\n      if (!node.props.text) node.props.text = node.text;\n      delete node.text;\n  }\n  if (node.children) node.children = node.children.map(walk);\n  return node;\n}\n\nlet ui = $input.first().json;\nui = walk(ui);\nreturn [{ json: ui }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1900,
                0
            ],
            "id": "normalize-ui-v30",
            "name": "Normalizar UI"
        },
        {
            "parameters": {
                "operation": "create",
                "dataTableId": {
                    "__rl": true,
                    "value": "DItViTlGReZeI1ks",
                    "mode": "list",
                    "cachedResultName": "figma_headless_sessions",
                    "cachedResultUrl": "/projects/4GLzpDdUGYQOiIUs/datatables/DItViTlGReZeI1ks"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "payload": "={{ JSON.stringify($json) }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "payload",
                            "displayName": "payload",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1,
            "position": [
                2100,
                0
            ],
            "id": "insert-db-airbnb-v30",
            "name": "Insertar en DB (Airbnb Style)"
        },
        {
            "parameters": {
                "resource": "chat-api",
                "operation": "read-messages",
                "instanceName": "={{ $('Preparar Contexto (BASICS)').first().json.whatsappMeta.instance }}",
                "remoteJid": "={{ $('Preparar Contexto (BASICS)').first().json.whatsappMeta.remoteJid }}",
                "messageId": "={{ $('Preparar Contexto (BASICS)').first().json.whatsappMeta.messageId }}"
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                2360,
                -100
            ],
            "id": "mark-read-v30",
            "name": "Marcar OK",
            "credentials": {
                "evolutionApi": {
                    "id": "4cfCLQllVGThdDvw",
                    "name": "Evolution account"
                }
            }
        },
        {
            "parameters": {
                "resource": "messages-api",
                "instanceName": "={{ $('Preparar Contexto (BASICS)').first().json.whatsappMeta.instance }}",
                "remoteJid": "={{ $('Preparar Contexto (BASICS)').first().json.whatsappMeta.remoteJid }}",
                "messageText": "✨ *Renderizado Completo*\n\nUI lista en Figma.",
                "options_message": {
                    "delay": 1000
                }
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                2600,
                -100
            ],
            "id": "send-whatsapp-v30",
            "name": "Confirmar WhatsApp",
            "credentials": {
                "evolutionApi": {
                    "id": "4cfCLQllVGThdDvw",
                    "name": "Evolution account"
                }
            }
        },
        {
            "parameters": {
                "resource": "integrations-api",
                "operation": "evolution-bot",
                "instanceName": "={{ $('Preparar Contexto (BASICS)').first().json.whatsappMeta.instance }}",
                "resourceForEvolutionBot": "changeStatusEvolutionBot",
                "evolutionBotId": "={{ $('Preparar Contexto (BASICS)').first().json.whatsappMeta.messageId }}",
                "remoteJid": "={{ $('Preparar Contexto (BASICS)').first().json.whatsappMeta.remoteJid }}",
                "status": "closed"
            },
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                2840,
                -100
            ],
            "id": "close-instance-v30",
            "name": "Cerrar instancia",
            "credentials": {
                "evolutionApi": {
                    "id": "4cfCLQllVGThdDvw",
                    "name": "Evolution account"
                }
            }
        }
    ],
    "connections": {
        "Webhook WhatsApp": {
            "main": [
                [
                    {
                        "node": "Tipo Mensaje",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Responder WA Rapido",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tipo Mensaje": {
            "main": [
                [
                    {
                        "node": "Set Prompt (Texto)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Prep Audio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Prompt (Texto)": {
            "main": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prep Audio": {
            "main": [
                [
                    {
                        "node": "Convertir a Archivo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Convertir a Archivo": {
            "main": [
                [
                    {
                        "node": "Whisper Transcribe",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Whisper Transcribe": {
            "main": [
                [
                    {
                        "node": "Set Prompt (Voz)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Prompt (Voz)": {
            "main": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI": {
            "ai_embedding": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Pinecone Search": {
            "main": [
                [
                    {
                        "node": "Preparar Contexto (BASICS)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Contexto (BASICS)": {
            "main": [
                [
                    {
                        "node": "Gemini: Diseñar UI (QUALITY)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Pro": {
            "ai_languageModel": [
                [
                    {
                        "node": "Gemini: Diseñar UI (QUALITY)",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Diseñar UI (QUALITY)": {
            "main": [
                [
                    {
                        "node": "Validar JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validar JSON": {
            "main": [
                [
                    {
                        "node": "Normalizar UI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalizar UI": {
            "main": [
                [
                    {
                        "node": "Insertar en DB (Airbnb Style)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insertar en DB (Airbnb Style)": {
            "main": [
                [
                    {
                        "node": "Marcar OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Marcar OK": {
            "main": [
                [
                    {
                        "node": "Confirmar WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Confirmar WhatsApp": {
            "main": [
                [
                    {
                        "node": "Cerrar instancia",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}