json_backups/Headless Generator - AIRBNB CLAUDE.json
{
    "name": "Headless Generator - AIRBNB (Claude)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generar-ui-airbnb-claude",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                480,
                -336
            ],
            "id": "ddd15379-a956-4198-be3b-f853c8638959",
            "name": "Webhook",
            "webhookId": "airbnb-claude-webhook-001"
        },
        {
            "parameters": {
                "mode": "load",
                "pineconeIndex": {
                    "__rl": true,
                    "value": "design-system",
                    "mode": "list"
                },
                "prompt": "={{ $json.body.prompt }}",
                "topK": 12,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1.3,
            "position": [
                688,
                -336
            ],
            "id": "23692710-c347-4983-b65a-6f5cf3bbe1d4",
            "name": "Pinecone Search",
            "credentials": {
                "pineconeApi": {
                    "id": "p2NsNz1SPkez82z5",
                    "name": "PineconeApi account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.2,
            "position": [
                688,
                -112
            ],
            "id": "128f6925-d181-4c4a-b41a-ad064f19a716",
            "name": "Embeddings OpenAI",
            "credentials": {
                "openAiApi": {
                    "id": "O37TWRmsjgm0WBxD",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Preparar contexto ROBUSTO para Pinecone (Fix Estructura Document)\nconst pineconeResults = $input.all();\nconst userPrompt = $('Webhook').item.json.body.prompt;\n\nconsole.log('🔍 Analyzing Pinecone Results:', pineconeResults.length);\n\n// Extraer componentes únicos con lógica defensiva\nconst componentsByType = {};\n\npineconeResults.forEach(item => {\n  // 1. Detectar dónde está la metadata (Tu caso es json.document.metadata)\n  const doc = item.json.document || item.json;\n  const metadata = doc.metadata || doc || {};\n  \n  // 2. Normalizar nombres y keys\n  const name = metadata.componentName || metadata.name || 'unknown';\n  const key = metadata.componentKey || metadata.key || metadata.figmaId || 'unknown';\n  const desc = metadata.description || doc.pageContent || '';\n  \n  // 3. Solo añadir si tenemos una key válida\n  if (key !== 'unknown' && !componentsByType[name]) {\n    componentsByType[name] = {\n      name: name,\n      key: key,\n      description: desc.substring(0, 300)\n    };\n  }\n});\n\nconst availableComponents = Object.values(componentsByType);\n\nconsole.log('📦 Valid Components Found:', availableComponents.length);\n\n// Construir descripción enriquecida\nlet componentsDescription = '';\nif (availableComponents.length > 0) {\n  componentsDescription = availableComponents\n    .map(comp => `  - **${comp.name}** (Key: \"${comp.key}\")\\n    Desc: ${comp.description}`)\n    .join('\\n\\n');\n} else {\n  componentsDescription = \"No se encontraron componentes específicos. Usa placeholders genéricos.\";\n}\n\nreturn [{\n  json: {\n    userPrompt: userPrompt,\n    componentsDescription: componentsDescription,\n    debugCount: availableComponents.length\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                992,
                -336
            ],
            "id": "32a6494e-acec-46fa-ae79-b243debda2b2",
            "name": "Preparar Contexto"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Eres un diseñador de interfaces UI/UX experto en Figma Auto Layout y sistemas de diseño.\\n\\n**TU MISIÓN:**\\nGenerar interfaces de usuario COMPLETAS y FUNCIONALES basándote en el prompt del usuario. Debes ser CREATIVO y ADAPTABLE a cualquier tipo de UI solicitada.\\n\\n---\\n\\n**PROMPT USUARIO:**\\n{{ $json.userPrompt }}\\n\\n**COMPONENTES DISPONIBLES EN LA LIBRERÍA:**\\n{{ $json.componentsDescription }}\\n\\n---\\n\\n## 🎯 REGLAS UNIVERSALES\\n\\n1. **PRIORIDAD A COMPONENTES EXISTENTES:**\\n   - Si hay un componente en la librería que sirve, ÚSALO con `type: \\\"COMPONENT\\\"` y su `key`\\n   - Si NO existe, créalo con `type: \\\"FRAME\\\"` o `type: \\\"TEXT_NODE\\\"` o `type: \\\"IMAGE\\\"`\\n\\n2. **LAYOUT PROPERTIES OBLIGATORIAS:**\\n   Cada FRAME debe tener:\\n   ```json\\n   {\\n     \\\"layoutMode\\\": \\\"HORIZONTAL\\\" | \\\"VERTICAL\\\",\\n     \\\"layoutAlign\\\": \\\"INHERIT\\\" | \\\"STRETCH\\\",\\n     \\\"primaryAxisSizingMode\\\": \\\"FIXED\\\" | \\\"AUTO\\\",\\n     \\\"counterAxisSizingMode\\\": \\\"FIXED\\\" | \\\"AUTO\\\",\\n     \\\"width\\\": 1440,  // Solo si primaryAxisSizingMode = FIXED\\n     \\\"padding\\\": 20,   // Puede ser número o nombre de variable: \\\"spacing-md\\\"\\n     \\\"spacing\\\": 16    // Puede ser número o nombre de variable: \\\"spacing-sm\\\"\\n   }\\n   ```\\n\\n3. **SPACING CONSISTENTE (puedes usar variables de Figma):**\\n   - Horizontal (entre elementos en fila): 16, 24, o \\\"spacing-md\\\"\\n   - Vertical (entre secciones): 32, 48, o \\\"spacing-lg\\\"\\n   - Padding interno: 16, 24, o \\\"spacing-md\\\"\\n   - **IMPORTANTE:** Si usas variables, usa nombres comunes como: \\\"spacing-sm\\\", \\\"spacing-md\\\", \\\"spacing-lg\\\", \\\"spacing-xl\\\"\\n\\n4. **TEXTOS REALISTAS:**\\n   - NO uses \\\"Lorem Ipsum\\\"\\n   - Usa textos apropiados al contexto (ej: \\\"Sign in to your account\\\", \\\"Explore products\\\")\\n\\n---\\n\\n## 📐 PATRONES DE UI COMUNES\\n\\n### 🔐 LOGIN / AUTH SCREENS\\n```json\\n{\\n  \\\"type\\\": \\\"FRAME\\\",\\n  \\\"name\\\": \\\"Login Container\\\",\\n  \\\"layoutMode\\\": \\\"VERTICAL\\\",\\n  \\\"layoutAlign\\\": \\\"INHERIT\\\",\\n  \\\"primaryAxisSizingMode\\\": \\\"AUTO\\\",\\n  \\\"padding\\\": \\\"spacing-xl\\\",\\n  \\\"spacing\\\": \\\"spacing-lg\\\",\\n  \\\"primaryAxisAlignItems\\\": \\\"CENTER\\\",\\n  \\\"children\\\": [\\n    { \\\"type\\\": \\\"TEXT_NODE\\\", \\\"role\\\": \\\"Title\\\", \\\"text\\\": \\\"Welcome Back\\\" },\\n    { \\\"type\\\": \\\"COMPONENT\\\", \\\"key\\\": \\\"input-key\\\", \\\"text\\\": \\\"Email\\\" },\\n    { \\\"type\\\": \\\"COMPONENT\\\", \\\"key\\\": \\\"input-key\\\", \\\"text\\\": \\\"Password\\\" },\\n    { \\\"type\\\": \\\"COMPONENT\\\", \\\"key\\\": \\\"button-key\\\", \\\"text\\\": \\\"Sign In\\\" }\\n  ]\\n}\\n```\\n\\n### 📊 DASHBOARDS\\n```json\\n{\\n  \\\"type\\\": \\\"FRAME\\\",\\n  \\\"name\\\": \\\"Dashboard Layout\\\",\\n  \\\"layoutMode\\\": \\\"HORIZONTAL\\\",\\n  \\\"layoutAlign\\\": \\\"STRETCH\\\",\\n  \\\"primaryAxisSizingMode\\\": \\\"FIXED\\\",\\n  \\\"width\\\": 1440,\\n  \\\"spacing\\\": 0,\\n  \\\"children\\\": [\\n    {\\n      \\\"type\\\": \\\"FRAME\\\",\\n      \\\"name\\\": \\\"Sidebar\\\",\\n      \\\"layoutMode\\\": \\\"VERTICAL\\\",\\n      \\\"primaryAxisSizingMode\\\": \\\"FIXED\\\",\\n      \\\"width\\\": 240,\\n      \\\"padding\\\": \\\"spacing-md\\\",\\n      \\\"spacing\\\": \\\"spacing-sm\\\"\\n    },\\n    {\\n      \\\"type\\\": \\\"FRAME\\\",\\n      \\\"name\\\": \\\"Main Content\\\",\\n      \\\"layoutMode\\\": \\\"VERTICAL\\\",\\n      \\\"layoutAlign\\\": \\\"STRETCH\\\",\\n      \\\"padding\\\": \\\"spacing-xl\\\",\\n      \\\"spacing\\\": \\\"spacing-lg\\\"\\n    }\\n  ]\\n}\\n```\\n\\n### 🏠 LANDING PAGES\\n```json\\n{\\n  \\\"type\\\": \\\"FRAME\\\",\\n  \\\"name\\\": \\\"Landing Page\\\",\\n  \\\"layoutMode\\\": \\\"VERTICAL\\\",\\n  \\\"layoutAlign\\\": \\\"INHERIT\\\",\\n  \\\"primaryAxisSizingMode\\\": \\\"FIXED\\\",\\n  \\\"width\\\": 1440,\\n  \\\"spacing\\\": 0,\\n  \\\"children\\\": [\\n    {\\n      \\\"type\\\": \\\"FRAME\\\",\\n      \\\"name\\\": \\\"Navbar\\\",\\n      \\\"layoutMode\\\": \\\"HORIZONTAL\\\",\\n      \\\"layoutAlign\\\": \\\"STRETCH\\\",\\n      \\\"primaryAxisAlignItems\\\": \\\"SPACE_BETWEEN\\\",\\n      \\\"padding\\\": \\\"spacing-md\\\"\\n    },\\n    {\\n      \\\"type\\\": \\\"FRAME\\\",\\n      \\\"name\\\": \\\"Hero Section\\\",\\n      \\\"layoutMode\\\": \\\"VERTICAL\\\",\\n      \\\"layoutAlign\\\": \\\"STRETCH\\\",\\n      \\\"primaryAxisAlignItems\\\": \\\"CENTER\\\",\\n      \\\"padding\\\": \\\"spacing-2xl\\\",\\n      \\\"spacing\\\": \\\"spacing-lg\\\"\\n    },\\n    {\\n      \\\"type\\\": \\\"FRAME\\\",\\n      \\\"name\\\": \\\"Features Grid\\\",\\n      \\\"layoutMode\\\": \\\"VERTICAL\\\",\\n      \\\"layoutAlign\\\": \\\"INHERIT\\\",\\n      \\\"spacing\\\": \\\"spacing-xl\\\"\\n    }\\n  ]\\n}\\n```\\n\\n### 🛍️ E-COMMERCE\\n```json\\n{\\n  \\\"type\\\": \\\"FRAME\\\",\\n  \\\"name\\\": \\\"Product Grid\\\",\\n  \\\"layoutMode\\\": \\\"VERTICAL\\\",\\n  \\\"layoutAlign\\\": \\\"INHERIT\\\",\\n  \\\"primaryAxisSizingMode\\\": \\\"AUTO\\\",\\n  \\\"spacing\\\": \\\"spacing-xl\\\",\\n  \\\"children\\\": [\\n    {\\n      \\\"type\\\": \\\"FRAME\\\",\\n      \\\"name\\\": \\\"Row 1\\\",\\n      \\\"layoutMode\\\": \\\"HORIZONTAL\\\",\\n      \\\"spacing\\\": \\\"spacing-md\\\",\\n      \\\"children\\\": [...]\\n    }\\n  ]\\n}\\n```\\n\\n---\\n\\n## 🎨 CREATIVIDAD\\n\\n1. **LOGOS:** Si se pide un logo y no existe componente, usa `TEXT_NODE` con `role: \\\"Title\\\"` y texto creativo\\n2. **IMÁGENES:** Para imágenes específicas, usa `type: \\\"IMAGE\\\"` con descripción detallada\\n3. **COLORES:** Usa paletas apropiadas al contexto (corporativo, moderno, elegante, etc.)\\n4. **LAYOUTS:** Adapta la estructura al tipo de UI solicitada\\n\\n---\\n\\n## ✅ CHECKLIST ANTES DE RESPONDER\\n\\n- [ ] ¿Usé componentes de la librería cuando existen?\\n- [ ] ¿Todas las secciones tienen `layoutAlign`, `primaryAxisSizingMode`, etc.?\\n- [ ] ¿El spacing usa variables de Figma cuando es apropiado?\\n- [ ] ¿Los textos son realistas y apropiados?\\n- [ ] ¿La estructura se adapta al tipo de UI solicitada?\\n\\n---\\n\\nResponde SOLO con JSON válido. NO añadas explicaciones.",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                1216,
                -336
            ],
            "id": "ca6c50b8-6aac-4774-bd51-9da0f7cec87e",
            "name": "Claude: Diseñar UI"
        },
        {
            "parameters": {
                "jsCode": "// Limpieza final del JSON\nlet output = $input.first().json.output;\n\n// Quitar markdown si Claude lo pone\noutput = output.replace(/```json/g, '').replace(/```/g, '').trim();\n\ntry {\n  const parsed = JSON.parse(output);\n  return [{ json: parsed }];\n} catch (e) {\n  throw new Error(\"Invalid JSON from Claude: \" + e.message);\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1504,
                -336
            ],
            "id": "8bcf1c7e-a7bf-4c4e-a26d-3fd1b95c4e5a",
            "name": "Validar JSON"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                1728,
                -336
            ],
            "id": "0c36404d-741f-4f73-993a-23ed67bfa175",
            "name": "Responder a Plugin"
        },
        {
            "parameters": {
                "model": "claude-3-5-sonnet-20241022",
                "options": {
                    "temperature": 0.9
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.1,
            "position": [
                1216,
                -112
            ],
            "id": "7db1204d-9e93-4ac6-a84f-d18a0acba78d",
            "name": "Claude 3.5 Sonnet",
            "credentials": {
                "anthropicApi": {
                    "id": "WkRj3vctpxPVdcg0",
                    "name": "Anthropic account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pinecone Search": {
            "main": [
                [
                    {
                        "node": "Preparar Contexto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI": {
            "ai_embedding": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Contexto": {
            "main": [
                [
                    {
                        "node": "Claude: Diseñar UI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude: Diseñar UI": {
            "main": [
                [
                    {
                        "node": "Validar JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validar JSON": {
            "main": [
                [
                    {
                        "node": "Responder a Plugin",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude 3.5 Sonnet": {
            "ai_languageModel": [
                [
                    {
                        "node": "Claude: Diseñar UI",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "claude-airbnb-v1",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "3efa0810f678680b3ab9873a809d017fbd7c8833aae452b14a057994d649074b"
    },
    "id": "airbnb-claude-workflow",
    "tags": []
}