json_backups/Headless Generator - CLAUDE CREATIVE.json
{
    "name": "Headless Generator - CLAUDE CREATIVE",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generar-ui-v2",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -256,
                0
            ],
            "id": "d57177f6-bd66-4213-9ba2-92cf0404cbef",
            "name": "Webhook",
            "webhookId": "generar-ui-claude-001"
        },
        {
            "parameters": {
                "mode": "load",
                "pineconeIndex": {
                    "__rl": true,
                    "value": "design-system",
                    "mode": "list"
                },
                "prompt": "={{ $json.body.prompt }}",
                "topK": 10,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
            "typeVersion": 1.3,
            "position": [
                -48,
                0
            ],
            "id": "7a14df41-4a6c-45ad-b702-fe6caef6286b",
            "name": "Pinecone Search",
            "credentials": {
                "pineconeApi": {
                    "id": "p2NsNz1SPkez82z5",
                    "name": "PineconeApi account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.2,
            "position": [
                -48,
                224
            ],
            "id": "08433f3d-e2a7-4e45-a622-ef2eda71aa45",
            "name": "Embeddings OpenAI",
            "credentials": {
                "openAiApi": {
                    "id": "O37TWRmsjgm0WBxD",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Preparar contexto enriquecido para Claude\nconst pineconeResults = $input.all();\nconst userPrompt = $('Webhook').item.json.body.prompt;\n\nconsole.log('\\n' + '='.repeat(60));\nconsole.log('🎨 CLAUDE CREATIVE MODE - Preparation');\nconsole.log('='.repeat(60));\n\n// Extraer y agrupar componentes\nconst componentsByType = {};\npineconeResults.forEach(item => {\n  const metadata = item.json.metadata || {};\n  const componentName = metadata.componentName || 'unknown';\n  \n  if (!componentsByType[componentName]) {\n    componentsByType[componentName] = {\n      name: componentName,\n      key: metadata.componentKey,\n      type: metadata.componentType,\n      description: item.json.pageContent?.substring(0, 200) || ''\n    };\n  }\n});\n\nconst availableComponents = Object.values(componentsByType);\n\nconsole.log(`📦 Found ${availableComponents.length} unique components:`);\navailableComponents.forEach(comp => {\n  console.log(`  - ${comp.name} (key: ${comp.key?.substring(0, 8)}...)`);\n});\n\n// Construir descripción para el prompt\nconst componentsDescription = availableComponents\n  .map(comp => `  - **${comp.name}** (key: \\`${comp.key}\\`)\\n    ${comp.description}`)\n  .join('\\n\\n');\n\nconsole.log('\\n✅ Context prepared for Claude');\nconsole.log('='.repeat(60) + '\\n');\n\nreturn [{\n  json: {\n    userPrompt: userPrompt,\n    componentsDescription: componentsDescription,\n    availableComponents: availableComponents,\n    componentsCount: availableComponents.length\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                256,
                0
            ],
            "id": "9986ebd1-1500-4dce-97d0-a88bcbcb5394",
            "name": "Preparar Contexto"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "==Eres un diseñador de interfaces con un estilo visual audaz y moderno. Tu especialidad es crear diseños que impactan visualmente mientras mantienen usabilidad perfecta.\n\n**PETICIÓN DEL USUARIO:**\n{{ $json.userPrompt }}\n\n**COMPONENTES DISPONIBLES EN LA LIBRERÍA:**\n{{ $json.componentsDescription }}\n\n---\n\n## 🎨 FILOSOFÍA DE DISEÑO\n\n### Principios Visuales:\n1. **Jerarquía audaz** - Usa tamaños de texto dramáticos (32px+ para títulos)\n2. **Color con propósito** - Gradientes, acentos, fondos sutiles\n3. **Espaciado generoso** - Padding 60-80px, spacing 32-48px\n4. **Profundidad visual** - Sombras para elevación\n5. **Asimetría intencional** - No todo debe estar centrado\n\n### Inspiración:\n- **Stripe**: Gradientes sutiles, CTAs destacados\n- **Linear**: Dark mode, tipografía bold\n- **Vercel**: Secciones alternas, spacing amplio\n- **Airbnb**: Grids de cards con sombras\n\n---\n\n## 📐 ESTRUCTURA JSON\n\nUsa SOLO estas propiedades:\n\n**FRAME:**\n```json\n{\n  \"type\": \"FRAME\",\n  \"name\": \"Section Name\",\n  \"layoutMode\": \"VERTICAL\",\n  \"padding\": 60,\n  \"spacing\": 24,\n  \"background\": \"linear-gradient(135deg, #667eea 0%, #764ba2 100%)\",\n  \"borderRadius\": 12,\n  \"shadow\": \"medium\",\n  \"children\": [...]\n}\n```\n\n**TEXT_NODE:**\n```json\n{\n  \"type\": \"TEXT_NODE\",\n  \"role\": \"Title\",\n  \"text\": \"Your Text Here\"\n}\n```\n\n**COMPONENT:**\n```json\n{\n  \"type\": \"COMPONENT\",\n  \"key\": \"[EXTRAER_KEY_DEL_CONTEXTO]\",\n  \"text\": \"Button Label\"\n}\n```\n\n---\n\n## ⚡ PROCESO\n\n1. Analiza qué tipo de UI pide el usuario\n2. Busca componentes por nombre (button, input, card)\n3. Extrae sus **keys reales** del contexto\n4. Construye jerarquía con FRAMES anidados\n5. Aplica backgrounds y sombras\n6. Genera JSON limpio\n\n---\n\n## 🎯 EJEMPLO COMPLETO\n\nPara: \"Create a modern dashboard\"\n\n```json\n{\n  \"layoutMode\": \"VERTICAL\",\n  \"padding\": 80,\n  \"spacing\": 48,\n  \"children\": [\n    {\n      \"type\": \"FRAME\",\n      \"name\": \"Hero Header\",\n      \"layoutMode\": \"HORIZONTAL\",\n      \"padding\": 60,\n      \"spacing\": 40,\n      \"background\": \"linear-gradient(135deg, #667eea 0%, #764ba2 100%)\",\n      \"borderRadius\": 16,\n      \"shadow\": \"medium\",\n      \"children\": [\n        {\n          \"type\": \"FRAME\",\n          \"layoutMode\": \"VERTICAL\",\n          \"spacing\": 16,\n          \"children\": [\n            {\n              \"type\": \"TEXT_NODE\",\n              \"role\": \"Title\",\n              \"text\": \"Dashboard Analytics\"\n            },\n            {\n              \"type\": \"TEXT_NODE\",\n              \"role\": \"Body\",\n              \"text\": \"Track your metrics in real-time\"\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"type\": \"FRAME\",\n      \"name\": \"Metrics Grid\",\n      \"layoutMode\": \"HORIZONTAL\",\n      \"spacing\": 24,\n      \"children\": [\n        {\n          \"type\": \"COMPONENT\",\n          \"key\": \"abc123xyz\",\n          \"text\": \"Total Users\\n25,432\"\n        },\n        {\n          \"type\": \"COMPONENT\",\n          \"key\": \"abc123xyz\",\n          \"text\": \"Revenue\\n$48,000\"\n        },\n        {\n          \"type\": \"COMPONENT\",\n          \"key\": \"abc123xyz\",\n          \"text\": \"Growth\\n+23%\"\n        }\n      ]\n    }\n  ]\n}\n```\n\n---\n\n## 🚨 REGLAS CRÍTICAS\n\n1. ✅ USA KEYS REALES del contexto\n2. ✅ JSON limpio - SIN markdown, SIN explicaciones\n3. ✅ SIEMPRE incluye propiedad \"children\" como array\n4. ✅ Backgrounds audaces - gradientes y colores\n5. ✅ Spacing generoso - mínimo 24px spacing, 40-80px padding\n\n---\n\n**RESPONDE SOLO CON JSON PURO. SIN ```json, SIN MARKDOWN, SIN TEXTO EXTRA.**",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                464,
                0
            ],
            "id": "f8ef2969-61c3-43cd-8080-8669191ebbc7",
            "name": "Claude: Diseñar UI"
        },
        {
            "parameters": {
                "jsCode": "// Limpiar y validar output de Claude\nconst aiOutput = $input.first().json.output;\n\nconsole.log('\\n' + '='.repeat(60));\nconsole.log('🎨 CLAUDE OUTPUT - Cleaning & Validation');\nconsole.log('='.repeat(60));\n\nlet cleanOutput = aiOutput.trim();\n\n// Remover markdown si existe\nif (cleanOutput.startsWith('```json')) {\n  console.log('⚠️  Removing ```json markdown wrapper');\n  cleanOutput = cleanOutput.replace(/```json\\s*/g, '').replace(/```\\s*$/g, '');\n} else if (cleanOutput.startsWith('```')) {\n  console.log('⚠️  Removing ``` markdown wrapper');\n  cleanOutput = cleanOutput.replace(/```\\s*/g, '').replace(/```\\s*$/g, '');\n}\n\ncleanOutput = cleanOutput.trim();\n\nconsole.log('📄 Cleaned output preview:', cleanOutput.substring(0, 300) + '...');\n\n// Parsear JSON\nlet parsedData;\ntry {\n  parsedData = JSON.parse(cleanOutput);\n  console.log('✅ Successfully parsed JSON');\n  \n  // Validar estructura\n  if (!parsedData.children || !Array.isArray(parsedData.children)) {\n    throw new Error('Missing or invalid \"children\" array');\n  }\n  \n  console.log(`\\n📊 Structure Summary:`);\n  console.log(`  - Root children: ${parsedData.children.length}`);\n  console.log(`  - Layout mode: ${parsedData.layoutMode}`);\n  console.log(`  - Padding: ${parsedData.padding}`);\n  console.log(`  - Spacing: ${parsedData.spacing}`);\n  console.log(`  - Background: ${parsedData.background || 'none'}`);\n  \n  // Contar elementos por tipo\n  const countByType = (node) => {\n    const counts = { TEXT_NODE: 0, COMPONENT: 0, FRAME: 0 };\n    \n    const traverse = (n) => {\n      if (n.type) {\n        counts[n.type] = (counts[n.type] || 0) + 1;\n      }\n      if (n.children && Array.isArray(n.children)) {\n        n.children.forEach(traverse);\n      }\n    };\n    \n    traverse(node);\n    return counts;\n  };\n  \n  const stats = countByType(parsedData);\n  console.log(`\\n📦 Element Breakdown:`);\n  console.log(`  - TEXT_NODE: ${stats.TEXT_NODE}`);\n  console.log(`  - COMPONENT: ${stats.COMPONENT}`);\n  console.log(`  - FRAME: ${stats.FRAME}`);\n  \n  console.log('\\n' + '='.repeat(60));\n  console.log('✅ JSON validated - Ready for Figma');\n  console.log('='.repeat(60) + '\\n');\n  \n  return [{ json: parsedData }];\n  \n} catch (err) {\n  console.error('\\n❌ Parse Error:', err.message);\n  console.error('Raw output (first 500 chars):', cleanOutput.substring(0, 500));\n  console.log('='.repeat(60) + '\\n');\n  throw new Error('Claude did not return valid JSON: ' + err.message);\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                768,
                0
            ],
            "id": "0842ecb8-7c92-40c4-bf2d-9d33c28cc90c",
            "name": "Validar JSON"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, PUT, DELETE, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Authorization"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                992,
                0
            ],
            "id": "a60a7337-6b00-47e3-8cab-b2314cb8d90f",
            "name": "Responder a Plugin"
        },
        {
            "parameters": {
                "model": "claude-3-5-sonnet-20241022",
                "options": {
                    "temperature": 0.8
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.1,
            "position": [
                464,
                224
            ],
            "id": "41f220c2-f723-4e35-bf73-1a9343fca0a5",
            "name": "Claude 3.5 Sonnet",
            "credentials": {
                "anthropicApi": {
                    "id": "WkRj3vctpxPVdcg0",
                    "name": "Anthropic account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pinecone Search": {
            "main": [
                [
                    {
                        "node": "Preparar Contexto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI": {
            "ai_embedding": [
                [
                    {
                        "node": "Pinecone Search",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Contexto": {
            "main": [
                [
                    {
                        "node": "Claude: Diseñar UI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude: Diseñar UI": {
            "main": [
                [
                    {
                        "node": "Validar JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validar JSON": {
            "main": [
                [
                    {
                        "node": "Responder a Plugin",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude 3.5 Sonnet": {
            "ai_languageModel": [
                [
                    {
                        "node": "Claude: Diseñar UI",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "049f72ca-57ff-4f5c-8e45-88d97d161a24",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "3efa0810f678680b3ab9873a809d017fbd7c8833aae452b14a057994d649074b"
    },
    "id": "15POyIZ2Krln9stm",
    "tags": []
}